<a href="https://colab.research.google.com/github/MAN-74/IT326-Project/blob/main/Transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd
from google.colab import files
Data = files.upload()
df = pd.read_csv(next(iter(Data)))
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

Saving Housing.csv to Housing (3).csv

## **Data Transmation:**

**Encoding:**

In [28]:
#Encoding

# Converting the `furnishingstatus` column
df['furnishingstatus'] = encoder.fit_transform(df['furnishingstatus'])
df['furnishingstatus'] = df['furnishingstatus'].replace({0: '3', 1: '2', 2: '1'})

# Converting the 'mainroad' column
df['mainroad'] = df['mainroad'].replace({'yes': 1, 'no': 0})

# Converting the 'guestroom' column
df['guestroom'] = df['guestroom'].replace({'yes': 1, 'no': 0})

# Converting the 'basement' column
df['basement'] = df['basement'].replace({'yes': 1, 'no': 0})

# Converting the 'hotwaterheating' column
df['hotwaterheating'] = df['hotwaterheating'].replace({'yes': 1, 'no': 0})

# Converting the 'airconditioning' column
df['airconditioning'] = df['airconditioning'].replace({'yes': 1, 'no': 0})

df['prefarea'] = df['prefarea'].replace({'yes': 1, 'no': 0})

<ipython-input-28-42a916843f6a>:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['mainroad'] = df['mainroad'].replace({'yes': 1, 'no': 0})
<ipython-input-28-42a916843f6a>:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['guestroom'] = df['guestroom'].replace({'yes': 1, 'no': 0})
<ipython-input-28-42a916843f6a>:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['basement'] = df['basement'].replace({'yes': 1, 'no': 0})
<ipython-input-28-42a916843f6a>:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['hotwaterheating'] = df['hotwaterheating'].replace({'yes': 1, 'no': 0})
<ipython-input-28-42a916843f6a>:20: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['airconditioning'] = df['airconditioning'].replace({'yes': 1, 'no': 0})
<ipython-input-28-42a916843f6a>:22: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['prefarea'] = df['prefarea'].replace({'yes': 1, 'no': 0})

In [29]:
from IPython.display import display
pd.set_option('display.max_row' ,None)
pd.set_option('display.max_columns' ,None)
display(df)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,3
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,3
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,2
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,3
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,3
5,10850000,7500,3,3,1,1,0,1,0,1,2,1,2
6,10150000,8580,4,3,4,1,0,0,0,1,2,1,2
7,10150000,16200,5,3,2,1,0,0,0,0,0,0,1
8,9870000,8100,4,1,2,1,1,1,0,1,2,1,3
9,9800000,5750,3,2,4,1,1,0,0,1,1,1,1
10,9800000,13200,3,1,2,1,0,1,0,1,2,1,3
11,9681000,6000,4,3,2,1,1,1,1,0,2,0,2
12,9310000,6550,4,2,2,1,0,0,0,1,1,1,2
13,9240000,3500,4,2,2,1,0,0,1,0,2,0,3
14,9240000,7800,3,2,2,1,0,0,0,0,0,1,2
15,9100000,6000,4,1,2,1,0,1,0,0,2,0,2
16,9100000,6600,4,2,2,1,1,1,0,1,1,1,1
17,8960000,8500,3,2,4,1,0,0,0,1,2,0,3
18,8890000,4600,3,2,2,1,1,0,0,1,2,0,3
19,8855000,6420,3,2,2,1,0,0,0,1,1,1,2
20,8750000,4320,3,1,2,1,0,1,1,0,2,0,2
21,8680000,7155,3,2,1,1,1,1,0,1,2,0,1
22,8645000,8050,3,1,1,1,1,1,0,1,1,0,3
23,8645000,4560,3,2,2,1,1,1,0,1,1,0,3
24,8575000,8800,3,2,2,1,0,0,0,1,2,0,3
25,8540000,6540,4,2,2,1,1,1,0,1,2,1,3
26,8463000,6000,3,2,4,1,1,1,0,1,0,1,2
27,8400000,8875,3,1,1,1,0,0,0,0,1,0,2
28,8400000,7950,5,2,2,1,0,1,1,0,2,0,1
29,8400000,5500,4,2,2,1,0,1,0,1,1,1,2
30,8400000,7475,3,2,4,1,0,0,0,1,2,0,1
31,8400000,7000,3,1,4,1,0,0,0,1,2,0,2
32,8295000,4880,4,2,2,1,0,0,0,1,1,1,3
33,8190000,5960,3,3,2,1,1,1,0,0,1,0,1
34,8120000,6840,5,1,2,1,1,1,0,1,1,0,3
35,8080940,7000,3,2,4,1,0,0,0,1,2,0,3
36,8043000,7482,3,2,3,1,0,0,1,0,1,1,3
37,7980000,9000,4,2,4,1,0,0,0,1,2,0,3
38,7962500,6000,3,1,4,1,1,0,0,1,2,0,1
39,7910000,6000,4,2,4,1,0,0,0,1,1,0,2
40,7875000,6550,3,1,2,1,0,1,0,1,0,1,3
41,7840000,6360,3,2,4,1,0,0,0,1,0,1,3
42,7700000,6480,3,2,4,1,0,0,0,1,2,0,1
43,7700000,6000,4,2,4,1,0,0,0,0,2,0,2
44,7560000,6000,4,2,4,1,0,0,0,1,1,0,3
45,7560000,6000,3,2,3,1,0,0,0,1,0,0,2
46,7525000,6000,3,2,4,1,0,0,0,1,1,0,3
47,7490000,6600,3,1,4,1,0,0,0,1,3,1,3
48,7455000,4300,3,2,2,1,0,1,0,0,1,0,1
49,7420000,7440,3,2,1,1,1,1,0,1,0,1,2
50,7420000,7440,3,2,4,1,0,0,0,0,1,1,1
51,7420000,6325,3,1,4,1,0,0,0,1,1,0,1
52,7350000,6000,4,2,4,1,1,0,0,1,1,0,3
53,7350000,5150,3,2,4,1,0,0,0,1,2,0,2
54,7350000,6000,3,2,2,1,1,0,0,1,1,0,2
55,7350000,6000,3,1,2,1,0,0,0,1,1,0,1
56,7343000,11440,4,1,2,1,0,1,0,0,1,1,2
57,7245000,9000,4,2,4,1,1,0,0,1,1,1,3
58,7210000,7680,4,2,4,1,1,0,0,1,1,0,2
59,7210000,6000,3,2,4,1,1,0,0,1,1,0,3
60,7140000,6000,3,2,2,1,1,0,0,0,1,0,2
61,7070000,8880,2,1,1,1,0,0,0,1,1,0,2
62,7070000,6240,4,2,2,1,0,0,0,1,1,0,3
63,7035000,6360,4,2,3,1,0,0,0,1,2,1,3
64,7000000,11175,3,1,1,1,0,1,0,1,1,1,3
65,6930000,8880,3,2,2,1,0,1,0,1,1,0,3
66,6930000,13200,2,1,1,1,0,1,1,0,1,0,3
67,6895000,7700,3,2,1,1,0,0,0,0,2,0,1
68,6860000,6000,3,1,1,1,0,0,0,1,1,0,3
69,6790000,12090,4,2,2,1,0,0,0,0,2,1,3
70,6790000,4000,3,2,2,1,0,1,0,1,0,1,2
71,6755000,6000,4,2,4,1,0,0,0,1,0,0,1
72,6720000,5020,3,1,4,1,0,0,0,1,0,1,1
73,6685000,6600,2,2,4,1,0,1,0,0,0,1,3
74,6650000,4040,3,1,2,1,0,1,1,0,1,0,3
75,6650000,4260,4,2,2,1,0,0,1,0,0,0,2
76,6650000,6420,3,2,3,1,0,0,0,1,0,1,3
77,6650000,6500,3,2,3,1,0,0,0,1,0,1,3
78,6650000,5700,3,1,1,1,1,1,0,1,2,1,3
79,6650000,6000,3,2,3,1,1,0,0,1,0,0,3
80,6629000,6000,3,1,2,1,0,0,1,0,1,1,2
81,6615000,4000,3,2,2,1,0,1,0,1,1,0,2
82,6615000,10500,3,2,1,1,0,1,0,1,1,1,3
83,6580000,6000,3,2,4,1,0,0,0,1,0,0,2
84,6510000,3760,3,1,2,1,0,0,1,0,2,0,2
85,6510000,8250,3,2,3,1,0,0,0,1,0,0,3
86,6510000,6670,3,1,3,1,0,1,0,0,0,1,1
87,6475000,3960,3,1,1,1,0,1,0,0,2,0,2
88,6475000,7410,3,1,1,1,1,1,0,1,2,1,1
89,6440000,8580,5,3,2,1,0,0,0,0,2,0,3
90,6440000,5000,3,1,2,1,0,0,0,1,0,0,2
91,6419000,6750,2,1,1,1,1,1,0,0,2,1,3
92,6405000,4800,3,2,4,1,1,0,0,1,0,0,3
93,6300000,7200,3,2,1,1,0,1,0,1,3,0,2
94,6300000,6000,4,2,4,1,0,0,0,0,1,0,2
95,6300000,4100,3,2,3,1,0,0,0,1,2,0,2
96,6300000,9000,3,1,1,1,0,1,0,0,1,1,3
97,6300000,6400,3,1,1,1,1,1,0,1,1,1,2
98,6293000,6600,3,2,3,1,0,0,0,1,0,1,1
99,6265000,6000,4,1,3,1,1,1,0,0,0,1,1
100,6230000,6600,3,2,1,1,0,1,0,1,0,1,1
101,6230000,5500,3,1,3,1,0,0,0,0,1,1,1
102,6195000,5500,3,2,4,1,1,0,0,1,1,0,2
103,6195000,6350,3,2,3,1,1,0,0,1,0,0,3
104,6195000,5500,3,2,1,1,1,1,0,0,2,1,3
105,6160000,4500,3,1,4,1,0,0,0,1,0,0,1
106,6160000,5450,4,2,1,1,0,1,0,1,0,1,2
107,6125000,6420,3,1,3,1,0,1,0,0,0,1,1
108,6107500,3240,4,1,3,1,0,0,0,0,1,0,2
109,6090000,6615,4,2,2,1,1,0,1,0,1,0,2
110,6090000,6600,3,1,1,1,1,1,0,0,2,1,2
111,6090000,8372,3,1,3,1,0,0,0,1,2,0,1
112,6083000,4300,6,2,2,1,0,0,0,0,0,0,3
113,6083000,9620,3,1,1,1,0,1,0,0,2,1,3
114,6020000,6800,2,1,1,1,1,1,0,0,2,0,3
115,6020000,8000,3,1,1,1,1,1,0,1,2,1,2
116,6020000,6900,3,2,1,1,1,1,0,0,0,1,1
117,5950000,3700,4,1,2,1,1,0,0,1,0,0,3
118,5950000,6420,3,1,1,1,0,1,0,1,0,1,3
119,5950000,7020,3,1,1,1,0,1,0,1,2,1,2
120,5950000,6540,3,1,1,1,1,1,0,0,2,1,3
121,5950000,7231,3,1,2,1,1,1,0,1,0,1,2
122,5950000,6254,4,2,1,1,0,1,0,0,1,1,2
123,5950000,7320,4,2,2,1,0,0,0,0,0,0,3
124,5950000,6525,3,2,4,1,0,0,0,0,1,0,3
125,5943000,15600,3,1,1,1,0,0,0,1,2,0,2
126,5880000,7160,3,1,1,1,0,1,0,0,2,1,1
127,5880000,6500,3,2,3,1,0,0,0,1,0,0,1
128,5873000,5500,3,1,3,1,1,0,0,1,1,0,3
129,5873000,11460,3,1,3,1,0,0,0,0,2,1,2
130,5866000,4800,3,1,1,1,1,1,0,0,0,0,1
131,5810000,5828,4,1,4,1,1,0,0,0,0,0,2
132,5810000,5200,3,1,3,1,0,0,0,1,0,0,2
133,5810000,4800,3,1,3,1,0,0,0,1,0,0,1
134,5803000,7000,3,1,1,1,0,1,0,0,2,1,2
135,5775000,6000,3,2,4,1,0,0,0,1,0,0,1
136,5740000,5400,4,2,2,1,0,0,0,1,2,0,1
137,5740000,4640,4,1,2,1,0,0,0,0,1,0,2
138,5740000,5000,3,1,3,1,0,0,0,1,0,0,2
139,5740000,6360,3,1,1,1,1,1,0,1,2,1,3
140,5740000,5800,3,2,4,1,0,0,0,1,0,0,1
141,5652500,6660,4,2,2,1,1,1,0,0,1,1,2
142,5600000,10500,4,2,2,1,0,0,0,0,1,0,2
143,5600000,4800,5,2,3,0,0,1,1,0,0,0,1
144,5600000,4700,4,1,2,1,1,1,0,1,1,0,3
145,5600000,5000,3,1,4,1,0,0,0,0,0,0,3
146,5600000,10500,2,1,1,1,0,0,0,0,1,0,2
147,5600000,5500,3,2,2,1,0,0,0,0,1,0,2
148,5600000,6360,3,1,3,1,0,0,0,0,0,1,2
149,5600000,6600,4,2,1,1,0,1,0,0,0,1,2
150,5600000,5136,3,1,2,1,1,1,0,1,0,1,1
151,5565000,4400,4,1,2,1,0,0,0,1,2,1,2
152,5565000,5400,5,1,2,1,1,1,0,1,0,1,3
153,5530000,3300,3,3,2,1,0,1,0,0,0,0,2
154,5530000,3650,3,2,2,1,0,0,0,0,2,0,2
155,5530000,6100,3,2,1,1,0,1,0,0,2,1,3
156,5523000,6900,3,1,1,1,1,1,0,0,0,1,2
157,5495000,2817,4,2,2,0,1,1,0,0,1,0,3
158,5495000,7980,3,1,1,1,0,0,0,0,2,0,2
159,5460000,3150,3,2,1,1,1,1,0,1,0,0,3
160,5460000,6210,4,1,4,1,1,0,0,1,0,0,3
161,5460000,6100,3,1,3,1,1,0,0,1,0,1,2
162,5460000,6600,4,2,2,1,1,1,0,0,0,1,2
163,5425000,6825,3,1,1,1,1,1,0,1,0,1,2
164,5390000,6710,3,2,2,1,1,1,0,0,1,1,3
165,5383000,6450,3,2,1,1,1,1,1,0,0,0,1
166,5320000,7800,3,1,1,1,0,1,0,1,2,1,1
167,5285000,4600,2,2,1,1,0,0,0,1,2,0,2
168,5250000,4260,4,1,2,1,0,1,0,1,0,0,3
169,5250000,6540,4,2,2,0,0,0,0,1,0,0,2
170,5250000,5500,3,2,1,1,0,1,0,0,0,0,2
171,5250000,10269,3,1,1,1,0,0,0,0,1,1,2
172,5250000,8400,3,1,2,1,1,1,0,1,2,1,1
173,5250000,5300,4,2,1,1,0,0,0,1,0,1,1
174,5250000,3800,3,1,2,1,1,1,0,0,1,1,1
175,5250000,9800,4,2,2,1,1,0,0,0,2,0,2
176,5250000,8520,3,1,1,1,0,0,0,1,2,0,3
177,5243000,6050,3,1,1,1,0,1,0,0,0,1,2
178,5229000,7085,3,1,1,1,1,1,0,0,2,1,2
179,5215000,3180,3,2,2,1,0,0,0,0,2,0,2
180,5215000,4500,4,2,1,0,0,1,0,1,2,0,2
181,5215000,7200,3,1,2,1,1,1,0,0,1,1,3
182,5145000,3410,3,1,2,0,0,0,0,1,0,0,2
183,5145000,7980,3,1,1,1,0,0,0,0,1,1,2
184,5110000,3000,3,2,2,1,1,1,0,0,0,0,3
185,5110000,3000,3,1,2,1,0,1,0,0,0,0,1
186,5110000,11410,2,1,2,1,0,0,0,0,0,1,3
187,5110000,6100,3,1,1,1,0,1,0,1,0,1,2
188,5075000,5720,2,1,2,1,0,0,0,1,0,1,1
189,5040000,3540,2,1,1,0,1,1,0,0,0,0,2
190,5040000,7600,4,1,2,1,0,0,0,1,2,0,3
191,5040000,10700,3,1,2,1,1,1,0,0,0,0,2
192,5040000,6600,3,1,1,1,1,1,0,0,0,1,3
193,5033000,4800,2,1,1,1,1,1,0,0,0,0,2
194,5005000,8150,3,2,1,1,1,1,0,0,0,0,2
195,4970000,4410,4,3,2,1,0,1,0,0,2,0,2
196,4970000,7686,3,1,1,1,1,1,1,0,0,0,2
197,4956000,2800,3,2,2,0,0,1,0,1,1,0,2
198,4935000,5948,3,1,2,1,0,0,0,1,0,0,2
199,4907000,4200,3,1,2,1,0,0,0,0,1,0,3
200,4900000,4520,3,1,2,1,0,1,0,1,0,0,2
201,4900000,4095,3,1,2,0,1,1,0,1,0,0,2
202,4900000,4120,2,1,1,1,0,1,0,0,1,0,2
203,4900000,5400,4,1,2,1,0,0,0,0,0,0,2
204,4900000,4770,3,1,1,1,1,1,0,0,0,0,2
205,4900000,6300,3,1,1,1,0,0,0,1,2,0,2
206,4900000,5800,2,1,1,1,1,1,0,1,0,0,2
207,4900000,3000,3,1,2,1,0,1,0,1,0,0,2
208,4900000,2970,3,1,3,1,0,0,0,0,0,0,2
209,4900000,6720,3,1,1,1,0,0,0,0,0,0,1
210,4900000,4646,3,1,2,1,1,1,0,0,2,0,2
211,4900000,12900,3,1,1,1,0,0,0,0,2,0,3
212,4893000,3420,4,2,2,1,0,1,0,1,2,0,2
213,4893000,4995,4,2,1,1,0,1,0,0,0,0,2
214,4865000,4350,2,1,1,1,0,1,0,0,0,0,1
215,4830000,4160,3,1,3,1,0,0,0,0,0,0,1
216,4830000,6040,3,1,1,1,0,0,0,0,2,1,2
217,4830000,6862,3,1,2,1,0,0,0,1,2,1,3
218,4830000,4815,2,1,1,1,0,0,0,1,0,1,2
219,4795000,7000,3,1,2,1,0,1,0,0,0,0,1
220,4795000,8100,4,1,4,1,0,1,0,1,2,0,2
221,4767000,3420,4,2,2,1,0,0,0,0,0,0,2
222,4760000,9166,2,1,1,1,0,1,0,1,2,0,2
223,4760000,6321,3,1,2,1,0,1,0,1,1,0,3
224,4760000,10240,2,1,1,1,0,0,0,1,2,1,1
225,4753000,6440,2,1,1,1,0,0,0,1,3,0,2
226,4690000,5170,3,1,4,1,0,0,0,1,0,0,2
227,4690000,6000,2,1,1,1,0,1,0,1,1,0,3
228,4690000,3630,3,1,2,1,0,0,0,0,2,0,2
229,4690000,9667,4,2,2,1,1,1,0,0,1,0,2
230,4690000,5400,2,1,2,1,0,0,0,0,0,1,2
231,4690000,4320,3,1,1,1,0,0,0,0,0,1,2
232,4655000,3745,3,1,2,1,0,1,0,0,0,0,3
233,4620000,4160,3,1,1,1,1,1,0,1,0,0,1
234,4620000,3880,3,2,2,1,0,1,0,0,2,0,2
235,4620000,5680,3,1,2,1,1,0,0,1,1,0,2
236,4620000,2870,2,1,2,1,1,1,0,0,0,1,2
237,4620000,5010,3,1,2,1,0,1,0,0,0,0,2
238,4613000,4510,4,2,2,1,0,1,0,0,0,0,2
239,4585000,4000,3,1,2,1,0,0,0,0,1,0,3
240,4585000,3840,3,1,2,1,0,0,0,0,1,1,2
241,4550000,3760,3,1,1,1,0,0,0,0,2,0,2
242,4550000,3640,3,1,2,1,0,0,0,1,0,0,3
243,4550000,2550,3,1,2,1,0,1,0,0,0,0,3
244,4550000,5320,3,1,2,1,1,1,0,0,0,1,2
245,4550000,5360,3,1,2,1,0,0,0,0,2,1,1
246,4550000,3520,3,1,1,1,0,0,0,0,0,1,2
247,4550000,8400,4,1,4,1,0,0,0,0,3,0,1
248,4543000,4100,2,2,1,1,1,1,0,0,0,0,2
249,4543000,4990,4,2,2,1,1,1,0,0,0,1,3
250,4515000,3510,3,1,3,1,0,0,0,0,0,0,2
251,4515000,3450,3,1,2,1,0,1,0,0,1,0,2
252,4515000,9860,3,1,1,1,0,0,0,0,0,0,2
253,4515000,3520,2,1,2,1,0,0,0,0,0,1,3
254,4480000,4510,4,1,2,1,0,0,0,1,2,0,2
255,4480000,5885,2,1,1,1,0,0,0,1,1,0,1
256,4480000,4000,3,1,2,1,0,0,0,0,2,0,3
257,4480000,8250,3,1,1,1,0,0,0,0,0,0,3
258,4480000,4040,3,1,2,1,0,0,0,0,1,0,2
259,4473000,6360,2,1,1,1,0,1,0,1,1,0,3
260,4473000,3162,3,1,2,1,0,0,0,1,1,0,3
261,4473000,3510,3,1,2,1,0,0,0,0,0,0,2
262,4445000,3750,2,1,1,1,1,1,0,0,0,0,2
263,4410000,3968,3,1,2,0,0,0,0,0,0,0,2
264,4410000,4900,2,1,2,1,0,1,0,0,0,0,2
265,4403000,2880,3,1,2,1,0,0,0,0,0,1,2
266,4403000,4880,3,1,1,1,0,0,0,0,2,1,1
267,4403000,4920,3,1,2,1,0,0,0,0,1,0,2
268,4382000,4950,4,1,2,1,0,0,0,1,0,0,2
269,4375000,3900,3,1,2,1,0,0,0,0,0,0,1
270,4340000,4500,3,2,3,1,0,0,1,0,1,0,3
271,4340000,1905,5,1,2,0,0,1,0,0,0,0,2
272,4340000,4075,3,1,1,1,1,1,0,0,2,0,2
273,4340000,3500,4,1,2,1,0,0,0,0,2,0,3
274,4340000,6450,4,1,2,1,0,0,0,0,0,0,2
275,4319000,4032,2,1,1,1,0,1,0,0,0,0,3
276,4305000,4400,2,1,1,1,0,0,0,0,1,0,2
277,4305000,10360,2,1,1,1,0,0,0,0,1,1,2
278,4277000,3400,3,1,2,1,0,1,0,0,2,1,2
279,4270000,6360,2,1,1,1,0,0,0,0,0,0,3
280,4270000,6360,2,1,2,1,0,0,0,0,0,0,1
281,4270000,4500,2,1,1,1,0,0,0,1,2,0,3
282,4270000,2175,3,1,2,0,1,1,0,1,0,0,1
283,4270000,4360,4,1,2,1,0,0,0,0,0,0,3
284,4270000,7770,2,1,1,1,0,0,0,0,1,0,3
285,4235000,6650,3,1,2,1,1,0,0,0,0,0,2
286,4235000,2787,3,1,1,1,0,1,0,0,0,1,3
287,4200000,5500,3,1,2,1,0,0,0,1,0,0,1
288,4200000,5040,3,1,2,1,0,1,0,1,0,0,1
289,4200000,5850,2,1,1,1,1,1,0,0,2,0,2
290,4200000,2610,4,3,2,0,0,0,0,0,0,0,2
291,4200000,2953,3,1,2,1,0,1,0,1,0,0,1
292,4200000,2747,4,2,2,0,0,0,0,0,0,0,2
293,4200000,4410,2,1,1,0,0,0,0,0,1,0,1
294,4200000,4000,4,2,2,0,0,0,0,0,0,0,2
295,4200000,2325,3,1,2,0,0,0,0,0,0,0,2
296,4200000,4600,3,2,2,1,0,0,0,1,1,0,2
297,4200000,3640,3,2,2,1,0,1,0,0,0,0,1
298,4200000,5800,3,1,1,1,0,0,1,0,2,0,2
299,4200000,7000,3,1,1,1,0,0,0,0,3,0,3
300,4200000,4079,3,1,3,1,0,0,0,0,0,0,2
301,4200000,3520,3,1,2,1,0,0,0,0,0,1,2
302,4200000,2145,3,1,3,1,0,0,0,0,1,1,1
303,4200000,4500,3,1,1,1,0,1,0,0,0,0,3
304,4193000,8250,3,1,1,1,0,1,0,0,3,0,2
305,4193000,3450,3,1,2,1,0,0,0,0,1,0,2
306,4165000,4840,3,1,2,1,0,0,0,0,1,0,2
307,4165000,4080,3,1,2,1,0,0,0,0,2,0,2
308,4165000,4046,3,1,2,1,0,1,0,0,1,0,2
309,4130000,4632,4,1,2,1,0,0,0,1,0,0,2
310,4130000,5985,3,1,1,1,0,1,0,0,0,0,2
311,4123000,6060,2,1,1,1,0,1,0,0,1,0,2
312,4098500,3600,3,1,1,1,0,1,0,1,0,1,3
313,4095000,3680,3,2,2,1,0,0,0,0,0,0,2
314,4095000,4040,2,1,2,1,0,0,0,0,1,0,2
315,4095000,5600,2,1,1,1,0,0,0,1,0,0,2
316,4060000,5900,4,2,2,0,0,1,0,0,1,0,1
317,4060000,4992,3,2,2,1,0,0,0,0,2,0,1
318,4060000,4340,3,1,1,1,0,0,0,0,0,0,2
319,4060000,3000,4,1,3,1,0,1,0,1,2,0,2
320,4060000,4320,3,1,2,1,0,0,0,0,2,1,3
321,4025000,3630,3,2,2,1,0,0,1,0,2,0,2
322,4025000,3460,3,2,1,1,0,1,0,1,1,0,3
323,4025000,5400,3,1,1,1,0,0,0,0,3,0,2
324,4007500,4500,3,1,2,0,0,1,0,1,0,0,2
325,4007500,3460,4,1,2,1,0,0,0,1,0,0,2
326,3990000,4100,4,1,1,0,0,1,0,0,0,0,1
327,3990000,6480,3,1,2,0,0,0,0,1,1,0,2
328,3990000,4500,3,2,2,0,0,1,0,1,0,0,2
329,3990000,3960,3,1,2,1,0,0,0,0,0,0,3
330,3990000,4050,2,1,2,1,1,1,0,0,0,1,1
331,3920000,7260,3,2,1,1,1,1,0,0,3,0,3
332,3920000,5500,4,1,2,1,1,1,0,0,0,0,2
333,3920000,3000,3,1,2,1,0,0,0,0,0,0,2
334,3920000,3290,2,1,1,1,0,0,1,0,1,0,3
335,3920000,3816,2,1,1,1,0,1,0,1,2,0,3
336,3920000,8080,3,1,1,1,0,0,0,1,2,0,2
337,3920000,2145,4,2,1,1,0,1,0,0,0,1,1
338,3885000,3780,2,1,2,1,1,1,0,0,0,0,2
339,3885000,3180,4,2,2,1,0,0,0,0,0,0,3
340,3850000,5300,5,2,2,1,0,0,0,0,0,0,2
341,3850000,3180,2,2,1,1,0,1,0,0,2,0,2
342,3850000,7152,3,1,2,1,0,0,0,1,0,0,3
343,3850000,4080,2,1,1,1,0,0,0,0,0,0,2
344,3850000,3850,2,1,1,1,0,0,0,0,0,0,2
345,3850000,2015,3,1,2,1,0,1,0,0,0,1,2
346,3850000,2176,2,1,2,1,1,0,0,0,0,1,2
347,3836000,3350,3,1,2,1,0,0,0,0,0,0,1
348,3815000,3150,2,2,1,0,0,1,0,0,0,0,2
349,3780000,4820,3,1,2,1,0,0,0,0,0,0,2
350,3780000,3420,2,1,2,1,0,0,1,0,1,0,2
351,3780000,3600,2,1,1,1,0,0,0,0,0,0,2
352,3780000,5830,2,1,1,1,0,0,0,0,2,0,1
353,3780000,2856,3,1,3,1,0,0,0,0,0,1,3
354,3780000,8400,2,1,1,1,0,0,0,0,1,0,3
355,3773000,8250,3,1,1,1,0,0,0,0,2,0,3
356,3773000,2520,5,2,1,0,0,1,0,1,1,0,3
357,3773000,6930,4,1,2,0,0,0,0,0,1,0,3
358,3745000,3480,2,1,1,1,0,0,0,0,0,1,2
359,3710000,3600,3,1,1,1,0,0,0,0,1,0,1
360,3710000,4040,2,1,1,1,0,0,0,0,0,0,2
361,3710000,6020,3,1,1,1,0,0,0,0,0,0,2
362,3710000,4050,2,1,1,1,0,0,0,0,0,0,3
363,3710000,3584,2,1,1,1,0,0,1,0,0,0,2
364,3703000,3120,3,1,2,0,0,1,1,0,0,0,2
365,3703000,5450,2,1,1,1,0,0,0,0,0,0,3
366,3675000,3630,2,1,1,1,0,1,0,0,0,0,3
367,3675000,3630,2,1,1,1,0,0,0,1,0,0,1
368,3675000,5640,2,1,1,0,0,0,0,0,0,0,2
369,3675000,3600,2,1,1,1,0,0,0,0,0,0,3
370,3640000,4280,2,1,1,1,0,0,0,1,2,0,2
371,3640000,3570,3,1,2,1,0,1,0,0,0,0,2
372,3640000,3180,3,1,2,0,0,1,0,0,0,0,2
373,3640000,3000,2,1,2,1,0,0,0,1,0,0,3
374,3640000,3520,2,2,1,1,0,1,0,0,0,0,2
375,3640000,5960,3,1,2,1,1,1,0,0,0,0,1
376,3640000,4130,3,2,2,1,0,0,0,0,2,0,2
377,3640000,2850,3,2,2,0,0,1,0,0,0,1,1
378,3640000,2275,3,1,3,1,0,0,1,1,0,1,2
379,3633000,3520,3,1,1,1,0,0,0,0,2,1,1
380,3605000,4500,2,1,1,1,0,0,0,0,0,0,2
381,3605000,4000,2,1,1,1,0,0,0,0,0,1,2
382,3570000,3150,3,1,2,1,0,1,0,0,0,0,3
383,3570000,4500,4,2,2,1,0,1,0,0,2,0,3
384,3570000,4500,2,1,1,0,0,0,0,0,0,0,3
385,3570000,3640,2,1,1,1,0,0,0,0,0,0,1
386,3535000,3850,3,1,1,1,0,0,0,0,2,0,1
387,3500000,4240,3,1,2,1,0,0,0,1,0,0,2
388,3500000,3650,3,1,2,1,0,0,0,0,0,0,1
389,3500000,4600,4,1,2,1,0,0,0,0,0,0,2
390,3500000,2135,3,2,2,0,0,0,0,0,0,0,1
391,3500000,3036,3,1,2,1,0,1,0,0,0,0,2
392,3500000,3990,3,1,2,1,0,0,0,0,0,0,2
393,3500000,7424,3,1,1,0,0,0,0,0,0,0,1
394,3500000,3480,3,1,1,0,0,0,0,1,0,0,1
395,3500000,3600,6,1,2,1,0,0,0,0,1,0,1
396,3500000,3640,2,1,1,1,0,0,0,0,1,0,2
397,3500000,5900,2,1,1,1,0,0,0,0,1,0,3
398,3500000,3120,3,1,2,1,0,0,0,0,1,0,1
399,3500000,7350,2,1,1,1,0,0,0,0,1,0,2
400,3500000,3512,2,1,1,1,0,0,0,0,1,1,1
401,3500000,9500,3,1,2,1,0,0,0,0,3,1,1
402,3500000,5880,2,1,1,1,0,0,0,0,0,0,1
403,3500000,12944,3,1,1,1,0,0,0,0,0,0,1
404,3493000,4900,3,1,2,0,0,0,0,0,0,0,1
405,3465000,3060,3,1,1,1,0,0,0,0,0,0,1
406,3465000,5320,2,1,1,1,0,0,0,0,1,1,1
407,3465000,2145,3,1,3,1,0,0,0,0,0,1,3
408,3430000,4000,2,1,1,1,0,0,0,0,0,0,1
409,3430000,3185,2,1,1,1,0,0,0,0,2,0,1
410,3430000,3850,3,1,1,1,0,0,0,0,0,0,1
411,3430000,2145,3,1,3,1,0,0,0,0,0,1,3
412,3430000,2610,3,1,2,1,0,1,0,0,0,1,1
413,3430000,1950,3,2,2,1,0,1,0,0,0,1,1
414,3423000,4040,2,1,1,1,0,0,0,0,0,0,1
415,3395000,4785,3,1,2,1,1,1,0,1,1,0,3
416,3395000,3450,3,1,1,1,0,1,0,0,2,0,1
417,3395000,3640,2,1,1,1,0,0,0,0,0,0,3
418,3360000,3500,4,1,2,1,0,0,0,1,2,0,1
419,3360000,4960,4,1,3,0,0,0,0,0,0,0,2
420,3360000,4120,2,1,2,1,0,0,0,0,0,0,1
421,3360000,4750,2,1,1,1,0,0,0,0,0,0,1
422,3360000,3720,2,1,1,0,0,0,0,1,0,0,1
423,3360000,3750,3,1,1,1,0,0,0,0,0,0,1
424,3360000,3100,3,1,2,0,0,1,0,0,0,0,2
425,3360000,3185,2,1,1,1,0,1,0,0,2,0,3
426,3353000,2700,3,1,1,0,0,0,0,0,0,0,3
427,3332000,2145,3,1,2,1,0,1,0,0,0,1,3
428,3325000,4040,2,1,1,1,0,0,0,0,1,0,1
429,3325000,4775,4,1,2,1,0,0,0,0,0,0,1
430,3290000,2500,2,1,1,0,0,0,0,1,0,0,1
431,3290000,3180,4,1,2,1,0,1,0,1,0,0,1
432,3290000,6060,3,1,1,1,1,1,0,0,0,0,3
433,3290000,3480,4,1,2,0,0,0,0,0,1,0,2
434,3290000,3792,4,1,2,1,0,0,0,0,0,0,2
435,3290000,4040,2,1,1,1,0,0,0,0,0,0,1
436,3290000,2145,3,1,2,1,0,1,0,0,0,1,3
437,3290000,5880,3,1,1,1,0,0,0,0,1,0,1
438,3255000,4500,2,1,1,0,0,0,0,0,0,0,2
439,3255000,3930,2,1,1,0,0,0,0,0,0,0,1
440,3234000,3640,4,1,2,1,0,1,0,0,0,0,1
441,3220000,4370,3,1,2,1,0,0,0,0,0,0,1
442,3220000,2684,2,1,1,1,0,0,0,1,1,0,1
443,3220000,4320,3,1,1,0,0,0,0,0,1,0,1
444,3220000,3120,3,1,2,0,0,0,0,0,0,0,3
445,3150000,3450,1,1,1,1,0,0,0,0,0,0,3
446,3150000,3986,2,2,1,0,1,1,0,0,1,0,1
447,3150000,3500,2,1,1,0,0,1,0,0,0,0,2
448,3150000,4095,2,1,1,1,0,0,0,0,2,0,2
449,3150000,1650,3,1,2,0,0,1,0,0,0,0,1
450,3150000,3450,3,1,2,1,0,1,0,0,0,0,2
451,3150000,6750,2,1,1,1,0,0,0,0,0,0,2
452,3150000,9000,3,1,2,1,0,0,0,0,2,0,2
453,3150000,3069,2,1,1,1,0,0,0,0,1,0,1
454,3143000,4500,3,1,2,1,0,0,0,1,0,0,1
455,3129000,5495,3,1,1,1,0,1,0,0,0,0,1
456,3118850,2398,3,1,1,1,0,0,0,0,0,1,2
457,3115000,3000,3,1,1,0,0,0,0,1,0,0,1
458,3115000,3850,3,1,2,1,0,0,0,0,0,0,1
459,3115000,3500,2,1,1,1,0,0,0,0,0,0,1
460,3087000,8100,2,1,1,1,0,0,0,0,1,0,1
461,3080000,4960,2,1,1,1,0,1,0,1,0,0,1
462,3080000,2160,3,1,2,0,0,1,0,0,0,0,2
463,3080000,3090,2,1,1,1,1,1,0,0,0,0,1
464,3080000,4500,2,1,2,1,0,0,1,0,1,0,2
465,3045000,3800,2,1,1,1,0,0,0,0,0,0,1
466,3010000,3090,3,1,2,0,0,0,0,0,0,0,2
467,3010000,3240,3,1,2,1,0,0,0,0,2,0,2
468,3010000,2835,2,1,1,1,0,0,0,0,0,0,2
469,3010000,4600,2,1,1,1,0,0,0,0,0,0,3
470,3010000,5076,3,1,1,0,0,0,0,0,0,0,1
471,3010000,3750,3,1,2,1,0,0,0,0,0,0,1
472,3010000,3630,4,1,2,1,0,0,0,0,3,0,2
473,3003000,8050,2,1,1,1,0,0,0,0,0,0,1
474,2975000,4352,4,1,2,0,0,0,0,0,1,0,1
475,2961000,3000,2,1,2,1,0,0,0,0,0,0,2
476,2940000,5850,3,1,2,1,0,1,0,0,1,0,1
477,2940000,4960,2,1,1,1,0,0,0,0,0,0,1
478,2940000,3600,3,1,2,0,0,0,0,0,1,0,1
479,2940000,3660,4,1,2,0,0,0,0,0,0,0,1
480,2940000,3480,3,1,2,0,0,0,0,0,1,0,2
481,2940000,2700,2,1,1,0,0,0,0,0,0,0,3
482,2940000,3150,3,1,2,0,0,0,0,0,0,0,1
483,2940000,6615,3,1,2,1,0,0,0,0,0,0,2
484,2870000,3040,2,1,1,0,0,0,0,0,0,0,1
485,2870000,3630,2,1,1,1,0,0,0,0,0,0,1
486,2870000,6000,2,1,1,1,0,0,0,0,0,0,2
487,2870000,5400,4,1,2,1,0,0,0,0,0,0,1
488,2852500,5200,4,1,3,1,0,0,0,0,0,0,1
489,2835000,3300,3,1,2,0,0,0,0,0,1,0,2
490,2835000,4350,3,1,2,0,0,0,1,0,1,0,1
491,2835000,2640,2,1,1,0,0,0,0,0,1,0,3
492,2800000,2650,3,1,2,1,0,1,0,0,1,0,1
493,2800000,3960,3,1,1,1,0,0,0,0,0,0,3
494,2730000,6800,2,1,1,1,0,0,0,0,0,0,1
495,2730000,4000,3,1,2,1,0,0,0,0,1,0,1
496,2695000,4000,2,1,1,1,0,0,0,0,0,0,1
497,2660000,3934,2,1,1,1,0,0,0,0,0,0,1
498,2660000,2000,2,1,2,1,0,0,0,0,0,0,2
499,2660000,3630,3,3,2,0,1,0,0,0,0,0,1
500,2660000,2800,3,1,1,1,0,0,0,0,0,0,1
501,2660000,2430,3,1,1,0,0,0,0,0,0,0,1
502,2660000,3480,2,1,1,1,0,0,0,0,1,0,2
503,2660000,4000,3,1,1,1,0,0,0,0,0,0,2
504,2653000,3185,2,1,1,1,0,0,0,1,0,0,1
505,2653000,4000,3,1,2,1,0,0,0,1,0,0,1
506,2604000,2910,2,1,1,0,0,0,0,0,0,0,1
507,2590000,3600,2,1,1,1,0,0,0,0,0,0,1
508,2590000,4400,2,1,1,1,0,0,0,0,0,0,1
509,2590000,3600,2,2,2,1,0,1,0,0,1,0,3
510,2520000,2880,3,1,1,0,0,0,0,0,0,0,1

Encoding Categorical Data We applied encoding techniques to transform categorical into factors, making it easier for the model to interpret the data. This transformation facilitates the implementation of machine learning algorithms and simplifies statistical analysis. By converting categories into numerical representations, we enable the model to process the information efficiently.

**Aggregation:**

In [30]:
avgpperb = df.groupby('bedrooms')['price'].mean()
print(avgpperb)

bedrooms
1    2.712500e+06
2    3.632022e+06
3    4.954598e+06
4    5.729758e+06
5    5.819800e+06
6    4.791500e+06
Name: price, dtype: float64

The Aggregation technique was used to calculate the average price of houses based on the number of bedrooms. By grouping the data according to the number of bedrooms column, I was able to obtain the average prices for each category of bedrooms, which helps in understanding market trends.

**Discretization:**

In [31]:
breaks_price = df['price'].quantile([0, 0.5, 1])


df['price'] = pd.cut(df['price'], bins=breaks_price, labels=['Low', 'High'], include_lowest=True)

display(df)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,High,7420,4,2,3,1,0,0,0,1,2,1,3
1,High,8960,4,4,4,1,0,0,0,1,3,0,3
2,High,9960,3,2,2,1,0,1,0,0,2,1,2
3,High,7500,4,2,2,1,0,1,0,1,3,1,3
4,High,7420,4,1,2,1,1,1,0,1,2,0,3
5,High,7500,3,3,1,1,0,1,0,1,2,1,2
6,High,8580,4,3,4,1,0,0,0,1,2,1,2
7,High,16200,5,3,2,1,0,0,0,0,0,0,1
8,High,8100,4,1,2,1,1,1,0,1,2,1,3
9,High,5750,3,2,4,1,1,0,0,1,1,1,1
10,High,13200,3,1,2,1,0,1,0,1,2,1,3
11,High,6000,4,3,2,1,1,1,1,0,2,0,2
12,High,6550,4,2,2,1,0,0,0,1,1,1,2
13,High,3500,4,2,2,1,0,0,1,0,2,0,3
14,High,7800,3,2,2,1,0,0,0,0,0,1,2
15,High,6000,4,1,2,1,0,1,0,0,2,0,2
16,High,6600,4,2,2,1,1,1,0,1,1,1,1
17,High,8500,3,2,4,1,0,0,0,1,2,0,3
18,High,4600,3,2,2,1,1,0,0,1,2,0,3
19,High,6420,3,2,2,1,0,0,0,1,1,1,2
20,High,4320,3,1,2,1,0,1,1,0,2,0,2
21,High,7155,3,2,1,1,1,1,0,1,2,0,1
22,High,8050,3,1,1,1,1,1,0,1,1,0,3
23,High,4560,3,2,2,1,1,1,0,1,1,0,3
24,High,8800,3,2,2,1,0,0,0,1,2,0,3
25,High,6540,4,2,2,1,1,1,0,1,2,1,3
26,High,6000,3,2,4,1,1,1,0,1,0,1,2
27,High,8875,3,1,1,1,0,0,0,0,1,0,2
28,High,7950,5,2,2,1,0,1,1,0,2,0,1
29,High,5500,4,2,2,1,0,1,0,1,1,1,2
30,High,7475,3,2,4,1,0,0,0,1,2,0,1
31,High,7000,3,1,4,1,0,0,0,1,2,0,2
32,High,4880,4,2,2,1,0,0,0,1,1,1,3
33,High,5960,3,3,2,1,1,1,0,0,1,0,1
34,High,6840,5,1,2,1,1,1,0,1,1,0,3
35,High,7000,3,2,4,1,0,0,0,1,2,0,3
36,High,7482,3,2,3,1,0,0,1,0,1,1,3
37,High,9000,4,2,4,1,0,0,0,1,2,0,3
38,High,6000,3,1,4,1,1,0,0,1,2,0,1
39,High,6000,4,2,4,1,0,0,0,1,1,0,2
40,High,6550,3,1,2,1,0,1,0,1,0,1,3
41,High,6360,3,2,4,1,0,0,0,1,0,1,3
42,High,6480,3,2,4,1,0,0,0,1,2,0,1
43,High,6000,4,2,4,1,0,0,0,0,2,0,2
44,High,6000,4,2,4,1,0,0,0,1,1,0,3
45,High,6000,3,2,3,1,0,0,0,1,0,0,2
46,High,6000,3,2,4,1,0,0,0,1,1,0,3
47,High,6600,3,1,4,1,0,0,0,1,3,1,3
48,High,4300,3,2,2,1,0,1,0,0,1,0,1
49,High,7440,3,2,1,1,1,1,0,1,0,1,2
50,High,7440,3,2,4,1,0,0,0,0,1,1,1
51,High,6325,3,1,4,1,0,0,0,1,1,0,1
52,High,6000,4,2,4,1,1,0,0,1,1,0,3
53,High,5150,3,2,4,1,0,0,0,1,2,0,2
54,High,6000,3,2,2,1,1,0,0,1,1,0,2
55,High,6000,3,1,2,1,0,0,0,1,1,0,1
56,High,11440,4,1,2,1,0,1,0,0,1,1,2
57,High,9000,4,2,4,1,1,0,0,1,1,1,3
58,High,7680,4,2,4,1,1,0,0,1,1,0,2
59,High,6000,3,2,4,1,1,0,0,1,1,0,3
60,High,6000,3,2,2,1,1,0,0,0,1,0,2
61,High,8880,2,1,1,1,0,0,0,1,1,0,2
62,High,6240,4,2,2,1,0,0,0,1,1,0,3
63,High,6360,4,2,3,1,0,0,0,1,2,1,3
64,High,11175,3,1,1,1,0,1,0,1,1,1,3
65,High,8880,3,2,2,1,0,1,0,1,1,0,3
66,High,13200,2,1,1,1,0,1,1,0,1,0,3
67,High,7700,3,2,1,1,0,0,0,0,2,0,1
68,High,6000,3,1,1,1,0,0,0,1,1,0,3
69,High,12090,4,2,2,1,0,0,0,0,2,1,3
70,High,4000,3,2,2,1,0,1,0,1,0,1,2
71,High,6000,4,2,4,1,0,0,0,1,0,0,1
72,High,5020,3,1,4,1,0,0,0,1,0,1,1
73,High,6600,2,2,4,1,0,1,0,0,0,1,3
74,High,4040,3,1,2,1,0,1,1,0,1,0,3
75,High,4260,4,2,2,1,0,0,1,0,0,0,2
76,High,6420,3,2,3,1,0,0,0,1,0,1,3
77,High,6500,3,2,3,1,0,0,0,1,0,1,3
78,High,5700,3,1,1,1,1,1,0,1,2,1,3
79,High,6000,3,2,3,1,1,0,0,1,0,0,3
80,High,6000,3,1,2,1,0,0,1,0,1,1,2
81,High,4000,3,2,2,1,0,1,0,1,1,0,2
82,High,10500,3,2,1,1,0,1,0,1,1,1,3
83,High,6000,3,2,4,1,0,0,0,1,0,0,2
84,High,3760,3,1,2,1,0,0,1,0,2,0,2
85,High,8250,3,2,3,1,0,0,0,1,0,0,3
86,High,6670,3,1,3,1,0,1,0,0,0,1,1
87,High,3960,3,1,1,1,0,1,0,0,2,0,2
88,High,7410,3,1,1,1,1,1,0,1,2,1,1
89,High,8580,5,3,2,1,0,0,0,0,2,0,3
90,High,5000,3,1,2,1,0,0,0,1,0,0,2
91,High,6750,2,1,1,1,1,1,0,0,2,1,3
92,High,4800,3,2,4,1,1,0,0,1,0,0,3
93,High,7200,3,2,1,1,0,1,0,1,3,0,2
94,High,6000,4,2,4,1,0,0,0,0,1,0,2
95,High,4100,3,2,3,1,0,0,0,1,2,0,2
96,High,9000,3,1,1,1,0,1,0,0,1,1,3
97,High,6400,3,1,1,1,1,1,0,1,1,1,2
98,High,6600,3,2,3,1,0,0,0,1,0,1,1
99,High,6000,4,1,3,1,1,1,0,0,0,1,1
100,High,6600,3,2,1,1,0,1,0,1,0,1,1
101,High,5500,3,1,3,1,0,0,0,0,1,1,1
102,High,5500,3,2,4,1,1,0,0,1,1,0,2
103,High,6350,3,2,3,1,1,0,0,1,0,0,3
104,High,5500,3,2,1,1,1,1,0,0,2,1,3
105,High,4500,3,1,4,1,0,0,0,1,0,0,1
106,High,5450,4,2,1,1,0,1,0,1,0,1,2
107,High,6420,3,1,3,1,0,1,0,0,0,1,1
108,High,3240,4,1,3,1,0,0,0,0,1,0,2
109,High,6615,4,2,2,1,1,0,1,0,1,0,2
110,High,6600,3,1,1,1,1,1,0,0,2,1,2
111,High,8372,3,1,3,1,0,0,0,1,2,0,1
112,High,4300,6,2,2,1,0,0,0,0,0,0,3
113,High,9620,3,1,1,1,0,1,0,0,2,1,3
114,High,6800,2,1,1,1,1,1,0,0,2,0,3
115,High,8000,3,1,1,1,1,1,0,1,2,1,2
116,High,6900,3,2,1,1,1,1,0,0,0,1,1
117,High,3700,4,1,2,1,1,0,0,1,0,0,3
118,High,6420,3,1,1,1,0,1,0,1,0,1,3
119,High,7020,3,1,1,1,0,1,0,1,2,1,2
120,High,6540,3,1,1,1,1,1,0,0,2,1,3
121,High,7231,3,1,2,1,1,1,0,1,0,1,2
122,High,6254,4,2,1,1,0,1,0,0,1,1,2
123,High,7320,4,2,2,1,0,0,0,0,0,0,3
124,High,6525,3,2,4,1,0,0,0,0,1,0,3
125,High,15600,3,1,1,1,0,0,0,1,2,0,2
126,High,7160,3,1,1,1,0,1,0,0,2,1,1
127,High,6500,3,2,3,1,0,0,0,1,0,0,1
128,High,5500,3,1,3,1,1,0,0,1,1,0,3
129,High,11460,3,1,3,1,0,0,0,0,2,1,2
130,High,4800,3,1,1,1,1,1,0,0,0,0,1
131,High,5828,4,1,4,1,1,0,0,0,0,0,2
132,High,5200,3,1,3,1,0,0,0,1,0,0,2
133,High,4800,3,1,3,1,0,0,0,1,0,0,1
134,High,7000,3,1,1,1,0,1,0,0,2,1,2
135,High,6000,3,2,4,1,0,0,0,1,0,0,1
136,High,5400,4,2,2,1,0,0,0,1,2,0,1
137,High,4640,4,1,2,1,0,0,0,0,1,0,2
138,High,5000,3,1,3,1,0,0,0,1,0,0,2
139,High,6360,3,1,1,1,1,1,0,1,2,1,3
140,High,5800,3,2,4,1,0,0,0,1,0,0,1
141,High,6660,4,2,2,1,1,1,0,0,1,1,2
142,High,10500,4,2,2,1,0,0,0,0,1,0,2
143,High,4800,5,2,3,0,0,1,1,0,0,0,1
144,High,4700,4,1,2,1,1,1,0,1,1,0,3
145,High,5000,3,1,4,1,0,0,0,0,0,0,3
146,High,10500,2,1,1,1,0,0,0,0,1,0,2
147,High,5500,3,2,2,1,0,0,0,0,1,0,2
148,High,6360,3,1,3,1,0,0,0,0,0,1,2
149,High,6600,4,2,1,1,0,1,0,0,0,1,2
150,High,5136,3,1,2,1,1,1,0,1,0,1,1
151,High,4400,4,1,2,1,0,0,0,1,2,1,2
152,High,5400,5,1,2,1,1,1,0,1,0,1,3
153,High,3300,3,3,2,1,0,1,0,0,0,0,2
154,High,3650,3,2,2,1,0,0,0,0,2,0,2
155,High,6100,3,2,1,1,0,1,0,0,2,1,3
156,High,6900,3,1,1,1,1,1,0,0,0,1,2
157,High,2817,4,2,2,0,1,1,0,0,1,0,3
158,High,7980,3,1,1,1,0,0,0,0,2,0,2
159,High,3150,3,2,1,1,1,1,0,1,0,0,3
160,High,6210,4,1,4,1,1,0,0,1,0,0,3
161,High,6100,3,1,3,1,1,0,0,1,0,1,2
162,High,6600,4,2,2,1,1,1,0,0,0,1,2
163,High,6825,3,1,1,1,1,1,0,1,0,1,2
164,High,6710,3,2,2,1,1,1,0,0,1,1,3
165,High,6450,3,2,1,1,1,1,1,0,0,0,1
166,High,7800,3,1,1,1,0,1,0,1,2,1,1
167,High,4600,2,2,1,1,0,0,0,1,2,0,2
168,High,4260,4,1,2,1,0,1,0,1,0,0,3
169,High,6540,4,2,2,0,0,0,0,1,0,0,2
170,High,5500,3,2,1,1,0,1,0,0,0,0,2
171,High,10269,3,1,1,1,0,0,0,0,1,1,2
172,High,8400,3,1,2,1,1,1,0,1,2,1,1
173,High,5300,4,2,1,1,0,0,0,1,0,1,1
174,High,3800,3,1,2,1,1,1,0,0,1,1,1
175,High,9800,4,2,2,1,1,0,0,0,2,0,2
176,High,8520,3,1,1,1,0,0,0,1,2,0,3
177,High,6050,3,1,1,1,0,1,0,0,0,1,2
178,High,7085,3,1,1,1,1,1,0,0,2,1,2
179,High,3180,3,2,2,1,0,0,0,0,2,0,2
180,High,4500,4,2,1,0,0,1,0,1,2,0,2
181,High,7200,3,1,2,1,1,1,0,0,1,1,3
182,High,3410,3,1,2,0,0,0,0,1,0,0,2
183,High,7980,3,1,1,1,0,0,0,0,1,1,2
184,High,3000,3,2,2,1,1,1,0,0,0,0,3
185,High,3000,3,1,2,1,0,1,0,0,0,0,1
186,High,11410,2,1,2,1,0,0,0,0,0,1,3
187,High,6100,3,1,1,1,0,1,0,1,0,1,2
188,High,5720,2,1,2,1,0,0,0,1,0,1,1
189,High,3540,2,1,1,0,1,1,0,0,0,0,2
190,High,7600,4,1,2,1,0,0,0,1,2,0,3
191,High,10700,3,1,2,1,1,1,0,0,0,0,2
192,High,6600,3,1,1,1,1,1,0,0,0,1,3
193,High,4800,2,1,1,1,1,1,0,0,0,0,2
194,High,8150,3,2,1,1,1,1,0,0,0,0,2
195,High,4410,4,3,2,1,0,1,0,0,2,0,2
196,High,7686,3,1,1,1,1,1,1,0,0,0,2
197,High,2800,3,2,2,0,0,1,0,1,1,0,2
198,High,5948,3,1,2,1,0,0,0,1,0,0,2
199,High,4200,3,1,2,1,0,0,0,0,1,0,3
200,High,4520,3,1,2,1,0,1,0,1,0,0,2
201,High,4095,3,1,2,0,1,1,0,1,0,0,2
202,High,4120,2,1,1,1,0,1,0,0,1,0,2
203,High,5400,4,1,2,1,0,0,0,0,0,0,2
204,High,4770,3,1,1,1,1,1,0,0,0,0,2
205,High,6300,3,1,1,1,0,0,0,1,2,0,2
206,High,5800,2,1,1,1,1,1,0,1,0,0,2
207,High,3000,3,1,2,1,0,1,0,1,0,0,2
208,High,2970,3,1,3,1,0,0,0,0,0,0,2
209,High,6720,3,1,1,1,0,0,0,0,0,0,1
210,High,4646,3,1,2,1,1,1,0,0,2,0,2
211,High,12900,3,1,1,1,0,0,0,0,2,0,3
212,High,3420,4,2,2,1,0,1,0,1,2,0,2
213,High,4995,4,2,1,1,0,1,0,0,0,0,2
214,High,4350,2,1,1,1,0,1,0,0,0,0,1
215,High,4160,3,1,3,1,0,0,0,0,0,0,1
216,High,6040,3,1,1,1,0,0,0,0,2,1,2
217,High,6862,3,1,2,1,0,0,0,1,2,1,3
218,High,4815,2,1,1,1,0,0,0,1,0,1,2
219,High,7000,3,1,2,1,0,1,0,0,0,0,1
220,High,8100,4,1,4,1,0,1,0,1,2,0,2
221,High,3420,4,2,2,1,0,0,0,0,0,0,2
222,High,9166,2,1,1,1,0,1,0,1,2,0,2
223,High,6321,3,1,2,1,0,1,0,1,1,0,3
224,High,10240,2,1,1,1,0,0,0,1,2,1,1
225,High,6440,2,1,1,1,0,0,0,1,3,0,2
226,High,5170,3,1,4,1,0,0,0,1,0,0,2
227,High,6000,2,1,1,1,0,1,0,1,1,0,3
228,High,3630,3,1,2,1,0,0,0,0,2,0,2
229,High,9667,4,2,2,1,1,1,0,0,1,0,2
230,High,5400,2,1,2,1,0,0,0,0,0,1,2
231,High,4320,3,1,1,1,0,0,0,0,0,1,2
232,High,3745,3,1,2,1,0,1,0,0,0,0,3
233,High,4160,3,1,1,1,1,1,0,1,0,0,1
234,High,3880,3,2,2,1,0,1,0,0,2,0,2
235,High,5680,3,1,2,1,1,0,0,1,1,0,2
236,High,2870,2,1,2,1,1,1,0,0,0,1,2
237,High,5010,3,1,2,1,0,1,0,0,0,0,2
238,High,4510,4,2,2,1,0,1,0,0,0,0,2
239,High,4000,3,1,2,1,0,0,0,0,1,0,3
240,High,3840,3,1,2,1,0,0,0,0,1,1,2
241,High,3760,3,1,1,1,0,0,0,0,2,0,2
242,High,3640,3,1,2,1,0,0,0,1,0,0,3
243,High,2550,3,1,2,1,0,1,0,0,0,0,3
244,High,5320,3,1,2,1,1,1,0,0,0,1,2
245,High,5360,3,1,2,1,0,0,0,0,2,1,1
246,High,3520,3,1,1,1,0,0,0,0,0,1,2
247,High,8400,4,1,4,1,0,0,0,0,3,0,1
248,High,4100,2,2,1,1,1,1,0,0,0,0,2
249,High,4990,4,2,2,1,1,1,0,0,0,1,3
250,High,3510,3,1,3,1,0,0,0,0,0,0,2
251,High,3450,3,1,2,1,0,1,0,0,1,0,2
252,High,9860,3,1,1,1,0,0,0,0,0,0,2
253,High,3520,2,1,2,1,0,0,0,0,0,1,3
254,High,4510,4,1,2,1,0,0,0,1,2,0,2
255,High,5885,2,1,1,1,0,0,0,1,1,0,1
256,High,4000,3,1,2,1,0,0,0,0,2,0,3
257,High,8250,3,1,1,1,0,0,0,0,0,0,3
258,High,4040,3,1,2,1,0,0,0,0,1,0,2
259,High,6360,2,1,1,1,0,1,0,1,1,0,3
260,High,3162,3,1,2,1,0,0,0,1,1,0,3
261,High,3510,3,1,2,1,0,0,0,0,0,0,2
262,High,3750,2,1,1,1,1,1,0,0,0,0,2
263,High,3968,3,1,2,0,0,0,0,0,0,0,2
264,High,4900,2,1,2,1,0,1,0,0,0,0,2
265,High,2880,3,1,2,1,0,0,0,0,0,1,2
266,High,4880,3,1,1,1,0,0,0,0,2,1,1
267,High,4920,3,1,2,1,0,0,0,0,1,0,2
268,High,4950,4,1,2,1,0,0,0,1,0,0,2
269,High,3900,3,1,2,1,0,0,0,0,0,0,1
270,Low,4500,3,2,3,1,0,0,1,0,1,0,3
271,Low,1905,5,1,2,0,0,1,0,0,0,0,2
272,Low,4075,3,1,1,1,1,1,0,0,2,0,2
273,Low,3500,4,1,2,1,0,0,0,0,2,0,3
274,Low,6450,4,1,2,1,0,0,0,0,0,0,2
275,Low,4032,2,1,1,1,0,1,0,0,0,0,3
276,Low,4400,2,1,1,1,0,0,0,0,1,0,2
277,Low,10360,2,1,1,1,0,0,0,0,1,1,2
278,Low,3400,3,1,2,1,0,1,0,0,2,1,2
279,Low,6360,2,1,1,1,0,0,0,0,0,0,3
280,Low,6360,2,1,2,1,0,0,0,0,0,0,1
281,Low,4500,2,1,1,1,0,0,0,1,2,0,3
282,Low,2175,3,1,2,0,1,1,0,1,0,0,1
283,Low,4360,4,1,2,1,0,0,0,0,0,0,3
284,Low,7770,2,1,1,1,0,0,0,0,1,0,3
285,Low,6650,3,1,2,1,1,0,0,0,0,0,2
286,Low,2787,3,1,1,1,0,1,0,0,0,1,3
287,Low,5500,3,1,2,1,0,0,0,1,0,0,1
288,Low,5040,3,1,2,1,0,1,0,1,0,0,1
289,Low,5850,2,1,1,1,1,1,0,0,2,0,2
290,Low,2610,4,3,2,0,0,0,0,0,0,0,2
291,Low,2953,3,1,2,1,0,1,0,1,0,0,1
292,Low,2747,4,2,2,0,0,0,0,0,0,0,2
293,Low,4410,2,1,1,0,0,0,0,0,1,0,1
294,Low,4000,4,2,2,0,0,0,0,0,0,0,2
295,Low,2325,3,1,2,0,0,0,0,0,0,0,2
296,Low,4600,3,2,2,1,0,0,0,1,1,0,2
297,Low,3640,3,2,2,1,0,1,0,0,0,0,1
298,Low,5800,3,1,1,1,0,0,1,0,2,0,2
299,Low,7000,3,1,1,1,0,0,0,0,3,0,3
300,Low,4079,3,1,3,1,0,0,0,0,0,0,2
301,Low,3520,3,1,2,1,0,0,0,0,0,1,2
302,Low,2145,3,1,3,1,0,0,0,0,1,1,1
303,Low,4500,3,1,1,1,0,1,0,0,0,0,3
304,Low,8250,3,1,1,1,0,1,0,0,3,0,2
305,Low,3450,3,1,2,1,0,0,0,0,1,0,2
306,Low,4840,3,1,2,1,0,0,0,0,1,0,2
307,Low,4080,3,1,2,1,0,0,0,0,2,0,2
308,Low,4046,3,1,2,1,0,1,0,0,1,0,2
309,Low,4632,4,1,2,1,0,0,0,1,0,0,2
310,Low,5985,3,1,1,1,0,1,0,0,0,0,2
311,Low,6060,2,1,1,1,0,1,0,0,1,0,2
312,Low,3600,3,1,1,1,0,1,0,1,0,1,3
313,Low,3680,3,2,2,1,0,0,0,0,0,0,2
314,Low,4040,2,1,2,1,0,0,0,0,1,0,2
315,Low,5600,2,1,1,1,0,0,0,1,0,0,2
316,Low,5900,4,2,2,0,0,1,0,0,1,0,1
317,Low,4992,3,2,2,1,0,0,0,0,2,0,1
318,Low,4340,3,1,1,1,0,0,0,0,0,0,2
319,Low,3000,4,1,3,1,0,1,0,1,2,0,2
320,Low,4320,3,1,2,1,0,0,0,0,2,1,3
321,Low,3630,3,2,2,1,0,0,1,0,2,0,2
322,Low,3460,3,2,1,1,0,1,0,1,1,0,3
323,Low,5400,3,1,1,1,0,0,0,0,3,0,2
324,Low,4500,3,1,2,0,0,1,0,1,0,0,2
325,Low,3460,4,1,2,1,0,0,0,1,0,0,2
326,Low,4100,4,1,1,0,0,1,0,0,0,0,1
327,Low,6480,3,1,2,0,0,0,0,1,1,0,2
328,Low,4500,3,2,2,0,0,1,0,1,0,0,2
329,Low,3960,3,1,2,1,0,0,0,0,0,0,3
330,Low,4050,2,1,2,1,1,1,0,0,0,1,1
331,Low,7260,3,2,1,1,1,1,0,0,3,0,3
332,Low,5500,4,1,2,1,1,1,0,0,0,0,2
333,Low,3000,3,1,2,1,0,0,0,0,0,0,2
334,Low,3290,2,1,1,1,0,0,1,0,1,0,3
335,Low,3816,2,1,1,1,0,1,0,1,2,0,3
336,Low,8080,3,1,1,1,0,0,0,1,2,0,2
337,Low,2145,4,2,1,1,0,1,0,0,0,1,1
338,Low,3780,2,1,2,1,1,1,0,0,0,0,2
339,Low,3180,4,2,2,1,0,0,0,0,0,0,3
340,Low,5300,5,2,2,1,0,0,0,0,0,0,2
341,Low,3180,2,2,1,1,0,1,0,0,2,0,2
342,Low,7152,3,1,2,1,0,0,0,1,0,0,3
343,Low,4080,2,1,1,1,0,0,0,0,0,0,2
344,Low,3850,2,1,1,1,0,0,0,0,0,0,2
345,Low,2015,3,1,2,1,0,1,0,0,0,1,2
346,Low,2176,2,1,2,1,1,0,0,0,0,1,2
347,Low,3350,3,1,2,1,0,0,0,0,0,0,1
348,Low,3150,2,2,1,0,0,1,0,0,0,0,2
349,Low,4820,3,1,2,1,0,0,0,0,0,0,2
350,Low,3420,2,1,2,1,0,0,1,0,1,0,2
351,Low,3600,2,1,1,1,0,0,0,0,0,0,2
352,Low,5830,2,1,1,1,0,0,0,0,2,0,1
353,Low,2856,3,1,3,1,0,0,0,0,0,1,3
354,Low,8400,2,1,1,1,0,0,0,0,1,0,3
355,Low,8250,3,1,1,1,0,0,0,0,2,0,3
356,Low,2520,5,2,1,0,0,1,0,1,1,0,3
357,Low,6930,4,1,2,0,0,0,0,0,1,0,3
358,Low,3480,2,1,1,1,0,0,0,0,0,1,2
359,Low,3600,3,1,1,1,0,0,0,0,1,0,1
360,Low,4040,2,1,1,1,0,0,0,0,0,0,2
361,Low,6020,3,1,1,1,0,0,0,0,0,0,2
362,Low,4050,2,1,1,1,0,0,0,0,0,0,3
363,Low,3584,2,1,1,1,0,0,1,0,0,0,2
364,Low,3120,3,1,2,0,0,1,1,0,0,0,2
365,Low,5450,2,1,1,1,0,0,0,0,0,0,3
366,Low,3630,2,1,1,1,0,1,0,0,0,0,3
367,Low,3630,2,1,1,1,0,0,0,1,0,0,1
368,Low,5640,2,1,1,0,0,0,0,0,0,0,2
369,Low,3600,2,1,1,1,0,0,0,0,0,0,3
370,Low,4280,2,1,1,1,0,0,0,1,2,0,2
371,Low,3570,3,1,2,1,0,1,0,0,0,0,2
372,Low,3180,3,1,2,0,0,1,0,0,0,0,2
373,Low,3000,2,1,2,1,0,0,0,1,0,0,3
374,Low,3520,2,2,1,1,0,1,0,0,0,0,2
375,Low,5960,3,1,2,1,1,1,0,0,0,0,1
376,Low,4130,3,2,2,1,0,0,0,0,2,0,2
377,Low,2850,3,2,2,0,0,1,0,0,0,1,1
378,Low,2275,3,1,3,1,0,0,1,1,0,1,2
379,Low,3520,3,1,1,1,0,0,0,0,2,1,1
380,Low,4500,2,1,1,1,0,0,0,0,0,0,2
381,Low,4000,2,1,1,1,0,0,0,0,0,1,2
382,Low,3150,3,1,2,1,0,1,0,0,0,0,3
383,Low,4500,4,2,2,1,0,1,0,0,2,0,3
384,Low,4500,2,1,1,0,0,0,0,0,0,0,3
385,Low,3640,2,1,1,1,0,0,0,0,0,0,1
386,Low,3850,3,1,1,1,0,0,0,0,2,0,1
387,Low,4240,3,1,2,1,0,0,0,1,0,0,2
388,Low,3650,3,1,2,1,0,0,0,0,0,0,1
389,Low,4600,4,1,2,1,0,0,0,0,0,0,2
390,Low,2135,3,2,2,0,0,0,0,0,0,0,1
391,Low,3036,3,1,2,1,0,1,0,0,0,0,2
392,Low,3990,3,1,2,1,0,0,0,0,0,0,2
393,Low,7424,3,1,1,0,0,0,0,0,0,0,1
394,Low,3480,3,1,1,0,0,0,0,1,0,0,1
395,Low,3600,6,1,2,1,0,0,0,0,1,0,1
396,Low,3640,2,1,1,1,0,0,0,0,1,0,2
397,Low,5900,2,1,1,1,0,0,0,0,1,0,3
398,Low,3120,3,1,2,1,0,0,0,0,1,0,1
399,Low,7350,2,1,1,1,0,0,0,0,1,0,2
400,Low,3512,2,1,1,1,0,0,0,0,1,1,1
401,Low,9500,3,1,2,1,0,0,0,0,3,1,1
402,Low,5880,2,1,1,1,0,0,0,0,0,0,1
403,Low,12944,3,1,1,1,0,0,0,0,0,0,1
404,Low,4900,3,1,2,0,0,0,0,0,0,0,1
405,Low,3060,3,1,1,1,0,0,0,0,0,0,1
406,Low,5320,2,1,1,1,0,0,0,0,1,1,1
407,Low,2145,3,1,3,1,0,0,0,0,0,1,3
408,Low,4000,2,1,1,1,0,0,0,0,0,0,1
409,Low,3185,2,1,1,1,0,0,0,0,2,0,1
410,Low,3850,3,1,1,1,0,0,0,0,0,0,1
411,Low,2145,3,1,3,1,0,0,0,0,0,1,3
412,Low,2610,3,1,2,1,0,1,0,0,0,1,1
413,Low,1950,3,2,2,1,0,1,0,0,0,1,1
414,Low,4040,2,1,1,1,0,0,0,0,0,0,1
415,Low,4785,3,1,2,1,1,1,0,1,1,0,3
416,Low,3450,3,1,1,1,0,1,0,0,2,0,1
417,Low,3640,2,1,1,1,0,0,0,0,0,0,3
418,Low,3500,4,1,2,1,0,0,0,1,2,0,1
419,Low,4960,4,1,3,0,0,0,0,0,0,0,2
420,Low,4120,2,1,2,1,0,0,0,0,0,0,1
421,Low,4750,2,1,1,1,0,0,0,0,0,0,1
422,Low,3720,2,1,1,0,0,0,0,1,0,0,1
423,Low,3750,3,1,1,1,0,0,0,0,0,0,1
424,Low,3100,3,1,2,0,0,1,0,0,0,0,2
425,Low,3185,2,1,1,1,0,1,0,0,2,0,3
426,Low,2700,3,1,1,0,0,0,0,0,0,0,3
427,Low,2145,3,1,2,1,0,1,0,0,0,1,3
428,Low,4040,2,1,1,1,0,0,0,0,1,0,1
429,Low,4775,4,1,2,1,0,0,0,0,0,0,1
430,Low,2500,2,1,1,0,0,0,0,1,0,0,1
431,Low,3180,4,1,2,1,0,1,0,1,0,0,1
432,Low,6060,3,1,1,1,1,1,0,0,0,0,3
433,Low,3480,4,1,2,0,0,0,0,0,1,0,2
434,Low,3792,4,1,2,1,0,0,0,0,0,0,2
435,Low,4040,2,1,1,1,0,0,0,0,0,0,1
436,Low,2145,3,1,2,1,0,1,0,0,0,1,3
437,Low,5880,3,1,1,1,0,0,0,0,1,0,1
438,Low,4500,2,1,1,0,0,0,0,0,0,0,2
439,Low,3930,2,1,1,0,0,0,0,0,0,0,1
440,Low,3640,4,1,2,1,0,1,0,0,0,0,1
441,Low,4370,3,1,2,1,0,0,0,0,0,0,1
442,Low,2684,2,1,1,1,0,0,0,1,1,0,1
443,Low,4320,3,1,1,0,0,0,0,0,1,0,1
444,Low,3120,3,1,2,0,0,0,0,0,0,0,3
445,Low,3450,1,1,1,1,0,0,0,0,0,0,3
446,Low,3986,2,2,1,0,1,1,0,0,1,0,1
447,Low,3500,2,1,1,0,0,1,0,0,0,0,2
448,Low,4095,2,1,1,1,0,0,0,0,2,0,2
449,Low,1650,3,1,2,0,0,1,0,0,0,0,1
450,Low,3450,3,1,2,1,0,1,0,0,0,0,2
451,Low,6750,2,1,1,1,0,0,0,0,0,0,2
452,Low,9000,3,1,2,1,0,0,0,0,2,0,2
453,Low,3069,2,1,1,1,0,0,0,0,1,0,1
454,Low,4500,3,1,2,1,0,0,0,1,0,0,1
455,Low,5495,3,1,1,1,0,1,0,0,0,0,1
456,Low,2398,3,1,1,1,0,0,0,0,0,1,2
457,Low,3000,3,1,1,0,0,0,0,1,0,0,1
458,Low,3850,3,1,2,1,0,0,0,0,0,0,1
459,Low,3500,2,1,1,1,0,0,0,0,0,0,1
460,Low,8100,2,1,1,1,0,0,0,0,1,0,1
461,Low,4960,2,1,1,1,0,1,0,1,0,0,1
462,Low,2160,3,1,2,0,0,1,0,0,0,0,2
463,Low,3090,2,1,1,1,1,1,0,0,0,0,1
464,Low,4500,2,1,2,1,0,0,1,0,1,0,2
465,Low,3800,2,1,1,1,0,0,0,0,0,0,1
466,Low,3090,3,1,2,0,0,0,0,0,0,0,2
467,Low,3240,3,1,2,1,0,0,0,0,2,0,2
468,Low,2835,2,1,1,1,0,0,0,0,0,0,2
469,Low,4600,2,1,1,1,0,0,0,0,0,0,3
470,Low,5076,3,1,1,0,0,0,0,0,0,0,1
471,Low,3750,3,1,2,1,0,0,0,0,0,0,1
472,Low,3630,4,1,2,1,0,0,0,0,3,0,2
473,Low,8050,2,1,1,1,0,0,0,0,0,0,1
474,Low,4352,4,1,2,0,0,0,0,0,1,0,1
475,Low,3000,2,1,2,1,0,0,0,0,0,0,2
476,Low,5850,3,1,2,1,0,1,0,0,1,0,1
477,Low,4960,2,1,1,1,0,0,0,0,0,0,1
478,Low,3600,3,1,2,0,0,0,0,0,1,0,1
479,Low,3660,4,1,2,0,0,0,0,0,0,0,1
480,Low,3480,3,1,2,0,0,0,0,0,1,0,2
481,Low,2700,2,1,1,0,0,0,0,0,0,0,3
482,Low,3150,3,1,2,0,0,0,0,0,0,0,1
483,Low,6615,3,1,2,1,0,0,0,0,0,0,2
484,Low,3040,2,1,1,0,0,0,0,0,0,0,1
485,Low,3630,2,1,1,1,0,0,0,0,0,0,1
486,Low,6000,2,1,1,1,0,0,0,0,0,0,2
487,Low,5400,4,1,2,1,0,0,0,0,0,0,1
488,Low,5200,4,1,3,1,0,0,0,0,0,0,1
489,Low,3300,3,1,2,0,0,0,0,0,1,0,2
490,Low,4350,3,1,2,0,0,0,1,0,1,0,1
491,Low,2640,2,1,1,0,0,0,0,0,1,0,3
492,Low,2650,3,1,2,1,0,1,0,0,1,0,1
493,Low,3960,3,1,1,1,0,0,0,0,0,0,3
494,Low,6800,2,1,1,1,0,0,0,0,0,0,1
495,Low,4000,3,1,2,1,0,0,0,0,1,0,1
496,Low,4000,2,1,1,1,0,0,0,0,0,0,1
497,Low,3934,2,1,1,1,0,0,0,0,0,0,1
498,Low,2000,2,1,2,1,0,0,0,0,0,0,2
499,Low,3630,3,3,2,0,1,0,0,0,0,0,1
500,Low,2800,3,1,1,1,0,0,0,0,0,0,1
501,Low,2430,3,1,1,0,0,0,0,0,0,0,1
502,Low,3480,2,1,1,1,0,0,0,0,1,0,2
503,Low,4000,3,1,1,1,0,0,0,0,0,0,2
504,Low,3185,2,1,1,1,0,0,0,1,0,0,1
505,Low,4000,3,1,2,1,0,0,0,1,0,0,1
506,Low,2910,2,1,1,0,0,0,0,0,0,0,1
507,Low,3600,2,1,1,1,0,0,0,0,0,0,1
508,Low,4400,2,1,1,1,0,0,0,0,0,0,1
509,Low,3600,2,2,2,1,0,1,0,0,1,0,3
510,Low,2880,3,1,1,0,0,0,0,0,0,0,1
511,Low,3180,3,1,1,0,0,0,0,0,0,0,1
512,Low,3000,2,1,2,1,0,0,0,0,0,0,3
513,Low,4400,3,1,2,1,0,0,0,0,0,0,1
514,Low,3000,3,1,2,0,0,0,0,0,0,0,2
515,Low,3210,3,1,2,1,0,1,0,0,0,0,1
516,Low,3240,2,1,1,0,1,0,0,0,1,0,1
517,Low,3000,2,1,1,1,0,0,0,0,1,0,1
518,Low,3500,2,1,1,1,1,0,0,0,0,0,1
519,Low,4840,2,1,2,1,0,0,0,0,0,0,1
520,Low,7700,2,1,1,1,0,0,0,0,0,0,1
521,Low,3635,2,1,1,0,0,0,0,0,0,0,1
522,Low,2475,3,1,2,1,0,0,0,0,0,0,3
523,Low,2787,4,2,2,1,0,0,0,0,0,0,3
524,Low,3264,2,1,1,1,0,0,0,0,0,0,1
525,Low,3640,2,1,1,1,0,0,0,0,0,0,1
526,Low,3180,2,1,1,1,0,0,0,0,0,0,1
527,Low,1836,2,1,1,0,0,1,0,0,0,0,2
528,Low,3970,1,1,1,0,0,0,0,0,0,0,1
529,Low,3970,3,1,2,1,0,1,0,0,0,0,1
530,Low,1950,3,1,1,0,0,0,1,0,0,0,1
531,Low,5300,3,1,1,0,0,0,0,1,0,1,1
532,Low,3000,2,1,1,0,0,0,0,0,0,0,1
533,Low,2400,3,1,2,1,0,0,0,0,0,0,1
534,Low,3000,4,1,2,1,0,0,0,0,0,0,1
535,Low,3360,2,1,1,1,0,0,0,0,1,0,1
536,Low,3420,5,1,2,0,0,0,0,0,0,0,1
537,Low,1700,3,1,2,1,0,0,0,0,0,0,1
538,Low,3649,2,1,1,1,0,0,0,0,0,0,1
539,Low,2990,2,1,1,0,0,0,0,0,1,0,1
540,Low,3000,2,1,1,1,0,1,0,0,2,0,1
541,Low,2400,3,1,1,0,0,0,0,0,0,0,2
542,Low,3620,2,1,1,1,0,0,0,0,0,0,1
543,Low,2910,3,1,1,0,0,0,0,0,0,0,3
544,Low,3850,3,1,2,1,0,0,0,0,0,0,1

The Discretization technique was employed on the class label price to simplify and enhance the interpretation of large continuous values by grouping them into specific intervals. This approach facilitates the analysis and communication of the models results. A new column was added to categorize price into two groups: Low and High. The Low category represents prices that are less than the median, while the High category includes prices that are equal to or greater than the median. This process involved using the quantile() function to identify breakpoints, followed by the cut() function to discretize the prices based on those breakpoints, with the labels designated as Low and High.

**Normalization:**

In [32]:
#Normaliztion

from sklearn.preprocessing import MinMaxScaler

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

scaler = MinMaxScaler(feature_range=(0.1, 1))

df['area'] = scaler.fit_transform(df[['area']])

display(df)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,High,0.456907,4,2,3,1,0,0,0,1,2,1,3
1,High,0.552165,4,4,4,1,0,0,0,1,3,0,3
2,High,0.614021,3,2,2,1,0,1,0,0,2,1,2
3,High,0.461856,4,2,2,1,0,1,0,1,3,1,3
4,High,0.456907,4,1,2,1,1,1,0,1,2,0,3
5,High,0.461856,3,3,1,1,0,1,0,1,2,1,2
6,High,0.528660,4,3,4,1,0,0,0,1,2,1,2
7,High,1.000000,5,3,2,1,0,0,0,0,0,0,1
8,High,0.498969,4,1,2,1,1,1,0,1,2,1,3
9,High,0.353608,3,2,4,1,1,0,0,1,1,1,1
10,High,0.814433,3,1,2,1,0,1,0,1,2,1,3
11,High,0.369072,4,3,2,1,1,1,1,0,2,0,2
12,High,0.403093,4,2,2,1,0,0,0,1,1,1,2
13,High,0.214433,4,2,2,1,0,0,1,0,2,0,3
14,High,0.480412,3,2,2,1,0,0,0,0,0,1,2
15,High,0.369072,4,1,2,1,0,1,0,0,2,0,2
16,High,0.406186,4,2,2,1,1,1,0,1,1,1,1
17,High,0.523711,3,2,4,1,0,0,0,1,2,0,3
18,High,0.282474,3,2,2,1,1,0,0,1,2,0,3
19,High,0.395052,3,2,2,1,0,0,0,1,1,1,2
20,High,0.265155,3,1,2,1,0,1,1,0,2,0,2
21,High,0.440515,3,2,1,1,1,1,0,1,2,0,1
22,High,0.495876,3,1,1,1,1,1,0,1,1,0,3
23,High,0.280000,3,2,2,1,1,1,0,1,1,0,3
24,High,0.542268,3,2,2,1,0,0,0,1,2,0,3
25,High,0.402474,4,2,2,1,1,1,0,1,2,1,3
26,High,0.369072,3,2,4,1,1,1,0,1,0,1,2
27,High,0.546907,3,1,1,1,0,0,0,0,1,0,2
28,High,0.489691,5,2,2,1,0,1,1,0,2,0,1
29,High,0.338144,4,2,2,1,0,1,0,1,1,1,2
30,High,0.460309,3,2,4,1,0,0,0,1,2,0,1
31,High,0.430928,3,1,4,1,0,0,0,1,2,0,2
32,High,0.299794,4,2,2,1,0,0,0,1,1,1,3
33,High,0.366598,3,3,2,1,1,1,0,0,1,0,1
34,High,0.421031,5,1,2,1,1,1,0,1,1,0,3
35,High,0.430928,3,2,4,1,0,0,0,1,2,0,3
36,High,0.460742,3,2,3,1,0,0,1,0,1,1,3
37,High,0.554639,4,2,4,1,0,0,0,1,2,0,3
38,High,0.369072,3,1,4,1,1,0,0,1,2,0,1
39,High,0.369072,4,2,4,1,0,0,0,1,1,0,2
40,High,0.403093,3,1,2,1,0,1,0,1,0,1,3
41,High,0.391340,3,2,4,1,0,0,0,1,0,1,3
42,High,0.398763,3,2,4,1,0,0,0,1,2,0,1
43,High,0.369072,4,2,4,1,0,0,0,0,2,0,2
44,High,0.369072,4,2,4,1,0,0,0,1,1,0,3
45,High,0.369072,3,2,3,1,0,0,0,1,0,0,2
46,High,0.369072,3,2,4,1,0,0,0,1,1,0,3
47,High,0.406186,3,1,4,1,0,0,0,1,3,1,3
48,High,0.263918,3,2,2,1,0,1,0,0,1,0,1
49,High,0.458144,3,2,1,1,1,1,0,1,0,1,2
50,High,0.458144,3,2,4,1,0,0,0,0,1,1,1
51,High,0.389175,3,1,4,1,0,0,0,1,1,0,1
52,High,0.369072,4,2,4,1,1,0,0,1,1,0,3
53,High,0.316495,3,2,4,1,0,0,0,1,2,0,2
54,High,0.369072,3,2,2,1,1,0,0,1,1,0,2
55,High,0.369072,3,1,2,1,0,0,0,1,1,0,1
56,High,0.705567,4,1,2,1,0,1,0,0,1,1,2
57,High,0.554639,4,2,4,1,1,0,0,1,1,1,3
58,High,0.472990,4,2,4,1,1,0,0,1,1,0,2
59,High,0.369072,3,2,4,1,1,0,0,1,1,0,3
60,High,0.369072,3,2,2,1,1,0,0,0,1,0,2
61,High,0.547216,2,1,1,1,0,0,0,1,1,0,2
62,High,0.383918,4,2,2,1,0,0,0,1,1,0,3
63,High,0.391340,4,2,3,1,0,0,0,1,2,1,3
64,High,0.689175,3,1,1,1,0,1,0,1,1,1,3
65,High,0.547216,3,2,2,1,0,1,0,1,1,0,3
66,High,0.814433,2,1,1,1,0,1,1,0,1,0,3
67,High,0.474227,3,2,1,1,0,0,0,0,2,0,1
68,High,0.369072,3,1,1,1,0,0,0,1,1,0,3
69,High,0.745773,4,2,2,1,0,0,0,0,2,1,3
70,High,0.245361,3,2,2,1,0,1,0,1,0,1,2
71,High,0.369072,4,2,4,1,0,0,0,1,0,0,1
72,High,0.308454,3,1,4,1,0,0,0,1,0,1,1
73,High,0.406186,2,2,4,1,0,1,0,0,0,1,3
74,High,0.247835,3,1,2,1,0,1,1,0,1,0,3
75,High,0.261443,4,2,2,1,0,0,1,0,0,0,2
76,High,0.395052,3,2,3,1,0,0,0,1,0,1,3
77,High,0.400000,3,2,3,1,0,0,0,1,0,1,3
78,High,0.350515,3,1,1,1,1,1,0,1,2,1,3
79,High,0.369072,3,2,3,1,1,0,0,1,0,0,3
80,High,0.369072,3,1,2,1,0,0,1,0,1,1,2
81,High,0.245361,3,2,2,1,0,1,0,1,1,0,2
82,High,0.647423,3,2,1,1,0,1,0,1,1,1,3
83,High,0.369072,3,2,4,1,0,0,0,1,0,0,2
84,High,0.230515,3,1,2,1,0,0,1,0,2,0,2
85,High,0.508247,3,2,3,1,0,0,0,1,0,0,3
86,High,0.410515,3,1,3,1,0,1,0,0,0,1,1
87,High,0.242887,3,1,1,1,0,1,0,0,2,0,2
88,High,0.456289,3,1,1,1,1,1,0,1,2,1,1
89,High,0.528660,5,3,2,1,0,0,0,0,2,0,3
90,High,0.307216,3,1,2,1,0,0,0,1,0,0,2
91,High,0.415464,2,1,1,1,1,1,0,0,2,1,3
92,High,0.294845,3,2,4,1,1,0,0,1,0,0,3
93,High,0.443299,3,2,1,1,0,1,0,1,3,0,2
94,High,0.369072,4,2,4,1,0,0,0,0,1,0,2
95,High,0.251546,3,2,3,1,0,0,0,1,2,0,2
96,High,0.554639,3,1,1,1,0,1,0,0,1,1,3
97,High,0.393814,3,1,1,1,1,1,0,1,1,1,2
98,High,0.406186,3,2,3,1,0,0,0,1,0,1,1
99,High,0.369072,4,1,3,1,1,1,0,0,0,1,1
100,High,0.406186,3,2,1,1,0,1,0,1,0,1,1
101,High,0.338144,3,1,3,1,0,0,0,0,1,1,1
102,High,0.338144,3,2,4,1,1,0,0,1,1,0,2
103,High,0.390722,3,2,3,1,1,0,0,1,0,0,3
104,High,0.338144,3,2,1,1,1,1,0,0,2,1,3
105,High,0.276289,3,1,4,1,0,0,0,1,0,0,1
106,High,0.335052,4,2,1,1,0,1,0,1,0,1,2
107,High,0.395052,3,1,3,1,0,1,0,0,0,1,1
108,High,0.198351,4,1,3,1,0,0,0,0,1,0,2
109,High,0.407113,4,2,2,1,1,0,1,0,1,0,2
110,High,0.406186,3,1,1,1,1,1,0,0,2,1,2
111,High,0.515794,3,1,3,1,0,0,0,1,2,0,1
112,High,0.263918,6,2,2,1,0,0,0,0,0,0,3
113,High,0.592990,3,1,1,1,0,1,0,0,2,1,3
114,High,0.418557,2,1,1,1,1,1,0,0,2,0,3
115,High,0.492784,3,1,1,1,1,1,0,1,2,1,2
116,High,0.424742,3,2,1,1,1,1,0,0,0,1,1
117,High,0.226804,4,1,2,1,1,0,0,1,0,0,3
118,High,0.395052,3,1,1,1,0,1,0,1,0,1,3
119,High,0.432165,3,1,1,1,0,1,0,1,2,1,2
120,High,0.402474,3,1,1,1,1,1,0,0,2,1,3
121,High,0.445216,3,1,2,1,1,1,0,1,0,1,2
122,High,0.384784,4,2,1,1,0,1,0,0,1,1,2
123,High,0.450722,4,2,2,1,0,0,0,0,0,0,3
124,High,0.401546,3,2,4,1,0,0,0,0,1,0,3
125,High,0.962887,3,1,1,1,0,0,0,1,2,0,2
126,High,0.440825,3,1,1,1,0,1,0,0,2,1,1
127,High,0.400000,3,2,3,1,0,0,0,1,0,0,1
128,High,0.338144,3,1,3,1,1,0,0,1,1,0,3
129,High,0.706804,3,1,3,1,0,0,0,0,2,1,2
130,High,0.294845,3,1,1,1,1,1,0,0,0,0,1
131,High,0.358433,4,1,4,1,1,0,0,0,0,0,2
132,High,0.319588,3,1,3,1,0,0,0,1,0,0,2
133,High,0.294845,3,1,3,1,0,0,0,1,0,0,1
134,High,0.430928,3,1,1,1,0,1,0,0,2,1,2
135,High,0.369072,3,2,4,1,0,0,0,1,0,0,1
136,High,0.331959,4,2,2,1,0,0,0,1,2,0,1
137,High,0.284948,4,1,2,1,0,0,0,0,1,0,2
138,High,0.307216,3,1,3,1,0,0,0,1,0,0,2
139,High,0.391340,3,1,1,1,1,1,0,1,2,1,3
140,High,0.356701,3,2,4,1,0,0,0,1,0,0,1
141,High,0.409897,4,2,2,1,1,1,0,0,1,1,2
142,High,0.647423,4,2,2,1,0,0,0,0,1,0,2
143,High,0.294845,5,2,3,0,0,1,1,0,0,0,1
144,High,0.288660,4,1,2,1,1,1,0,1,1,0,3
145,High,0.307216,3,1,4,1,0,0,0,0,0,0,3
146,High,0.647423,2,1,1,1,0,0,0,0,1,0,2
147,High,0.338144,3,2,2,1,0,0,0,0,1,0,2
148,High,0.391340,3,1,3,1,0,0,0,0,0,1,2
149,High,0.406186,4,2,1,1,0,1,0,0,0,1,2
150,High,0.315629,3,1,2,1,1,1,0,1,0,1,1
151,High,0.270103,4,1,2,1,0,0,0,1,2,1,2
152,High,0.331959,5,1,2,1,1,1,0,1,0,1,3
153,High,0.202062,3,3,2,1,0,1,0,0,0,0,2
154,High,0.223711,3,2,2,1,0,0,0,0,2,0,2
155,High,0.375258,3,2,1,1,0,1,0,0,2,1,3
156,High,0.424742,3,1,1,1,1,1,0,0,0,1,2
157,High,0.172186,4,2,2,0,1,1,0,0,1,0,3
158,High,0.491546,3,1,1,1,0,0,0,0,2,0,2
159,High,0.192784,3,2,1,1,1,1,0,1,0,0,3
160,High,0.382062,4,1,4,1,1,0,0,1,0,0,3
161,High,0.375258,3,1,3,1,1,0,0,1,0,1,2
162,High,0.406186,4,2,2,1,1,1,0,0,0,1,2
163,High,0.420103,3,1,1,1,1,1,0,1,0,1,2
164,High,0.412990,3,2,2,1,1,1,0,0,1,1,3
165,High,0.396907,3,2,1,1,1,1,1,0,0,0,1
166,High,0.480412,3,1,1,1,0,1,0,1,2,1,1
167,High,0.282474,2,2,1,1,0,0,0,1,2,0,2
168,High,0.261443,4,1,2,1,0,1,0,1,0,0,3
169,High,0.402474,4,2,2,0,0,0,0,1,0,0,2
170,High,0.338144,3,2,1,1,0,1,0,0,0,0,2
171,High,0.633134,3,1,1,1,0,0,0,0,1,1,2
172,High,0.517526,3,1,2,1,1,1,0,1,2,1,1
173,High,0.325773,4,2,1,1,0,0,0,1,0,1,1
174,High,0.232990,3,1,2,1,1,1,0,0,1,1,1
175,High,0.604124,4,2,2,1,1,0,0,0,2,0,2
176,High,0.524948,3,1,1,1,0,0,0,1,2,0,3
177,High,0.372165,3,1,1,1,0,1,0,0,0,1,2
178,High,0.436186,3,1,1,1,1,1,0,0,2,1,2
179,High,0.194639,3,2,2,1,0,0,0,0,2,0,2
180,High,0.276289,4,2,1,0,0,1,0,1,2,0,2
181,High,0.443299,3,1,2,1,1,1,0,0,1,1,3
182,High,0.208866,3,1,2,0,0,0,0,1,0,0,2
183,High,0.491546,3,1,1,1,0,0,0,0,1,1,2
184,High,0.183505,3,2,2,1,1,1,0,0,0,0,3
185,High,0.183505,3,1,2,1,0,1,0,0,0,0,1
186,High,0.703711,2,1,2,1,0,0,0,0,0,1,3
187,High,0.375258,3,1,1,1,0,1,0,1,0,1,2
188,High,0.351753,2,1,2,1,0,0,0,1,0,1,1
189,High,0.216907,2,1,1,0,1,1,0,0,0,0,2
190,High,0.468041,4,1,2,1,0,0,0,1,2,0,3
191,High,0.659794,3,1,2,1,1,1,0,0,0,0,2
192,High,0.406186,3,1,1,1,1,1,0,0,0,1,3
193,High,0.294845,2,1,1,1,1,1,0,0,0,0,2
194,High,0.502062,3,2,1,1,1,1,0,0,0,0,2
195,High,0.270722,4,3,2,1,0,1,0,0,2,0,2
196,High,0.473361,3,1,1,1,1,1,1,0,0,0,2
197,High,0.171134,3,2,2,0,0,1,0,1,1,0,2
198,High,0.365856,3,1,2,1,0,0,0,1,0,0,2
199,High,0.257732,3,1,2,1,0,0,0,0,1,0,3
200,High,0.277526,3,1,2,1,0,1,0,1,0,0,2
201,High,0.251237,3,1,2,0,1,1,0,1,0,0,2
202,High,0.252784,2,1,1,1,0,1,0,0,1,0,2
203,High,0.331959,4,1,2,1,0,0,0,0,0,0,2
204,High,0.292990,3,1,1,1,1,1,0,0,0,0,2
205,High,0.387629,3,1,1,1,0,0,0,1,2,0,2
206,High,0.356701,2,1,1,1,1,1,0,1,0,0,2
207,High,0.183505,3,1,2,1,0,1,0,1,0,0,2
208,High,0.181649,3,1,3,1,0,0,0,0,0,0,2
209,High,0.413608,3,1,1,1,0,0,0,0,0,0,1
210,High,0.285320,3,1,2,1,1,1,0,0,2,0,2
211,High,0.795876,3,1,1,1,0,0,0,0,2,0,3
212,High,0.209485,4,2,2,1,0,1,0,1,2,0,2
213,High,0.306907,4,2,1,1,0,1,0,0,0,0,2
214,High,0.267010,2,1,1,1,0,1,0,0,0,0,1
215,High,0.255258,3,1,3,1,0,0,0,0,0,0,1
216,High,0.371546,3,1,1,1,0,0,0,0,2,1,2
217,High,0.422392,3,1,2,1,0,0,0,1,2,1,3
218,High,0.295773,2,1,1,1,0,0,0,1,0,1,2
219,High,0.430928,3,1,2,1,0,1,0,0,0,0,1
220,High,0.498969,4,1,4,1,0,1,0,1,2,0,2
221,High,0.209485,4,2,2,1,0,0,0,0,0,0,2
222,High,0.564907,2,1,1,1,0,1,0,1,2,0,2
223,High,0.388928,3,1,2,1,0,1,0,1,1,0,3
224,High,0.631340,2,1,1,1,0,0,0,1,2,1,1
225,High,0.396289,2,1,1,1,0,0,0,1,3,0,2
226,High,0.317732,3,1,4,1,0,0,0,1,0,0,2
227,High,0.369072,2,1,1,1,0,1,0,1,1,0,3
228,High,0.222474,3,1,2,1,0,0,0,0,2,0,2
229,High,0.595897,4,2,2,1,1,1,0,0,1,0,2
230,High,0.331959,2,1,2,1,0,0,0,0,0,1,2
231,High,0.265155,3,1,1,1,0,0,0,0,0,1,2
232,High,0.229588,3,1,2,1,0,1,0,0,0,0,3
233,High,0.255258,3,1,1,1,1,1,0,1,0,0,1
234,High,0.237938,3,2,2,1,0,1,0,0,2,0,2
235,High,0.349278,3,1,2,1,1,0,0,1,1,0,2
236,High,0.175464,2,1,2,1,1,1,0,0,0,1,2
237,High,0.307835,3,1,2,1,0,1,0,0,0,0,2
238,High,0.276907,4,2,2,1,0,1,0,0,0,0,2
239,High,0.245361,3,1,2,1,0,0,0,0,1,0,3
240,High,0.235464,3,1,2,1,0,0,0,0,1,1,2
241,High,0.230515,3,1,1,1,0,0,0,0,2,0,2
242,High,0.223093,3,1,2,1,0,0,0,1,0,0,3
243,High,0.155670,3,1,2,1,0,1,0,0,0,0,3
244,High,0.327010,3,1,2,1,1,1,0,0,0,1,2
245,High,0.329485,3,1,2,1,0,0,0,0,2,1,1
246,High,0.215670,3,1,1,1,0,0,0,0,0,1,2
247,High,0.517526,4,1,4,1,0,0,0,0,3,0,1
248,High,0.251546,2,2,1,1,1,1,0,0,0,0,2
249,High,0.306598,4,2,2,1,1,1,0,0,0,1,3
250,High,0.215052,3,1,3,1,0,0,0,0,0,0,2
251,High,0.211340,3,1,2,1,0,1,0,0,1,0,2
252,High,0.607835,3,1,1,1,0,0,0,0,0,0,2
253,High,0.215670,2,1,2,1,0,0,0,0,0,1,3
254,High,0.276907,4,1,2,1,0,0,0,1,2,0,2
255,High,0.361959,2,1,1,1,0,0,0,1,1,0,1
256,High,0.245361,3,1,2,1,0,0,0,0,2,0,3
257,High,0.508247,3,1,1,1,0,0,0,0,0,0,3
258,High,0.247835,3,1,2,1,0,0,0,0,1,0,2
259,High,0.391340,2,1,1,1,0,1,0,1,1,0,3
260,High,0.193526,3,1,2,1,0,0,0,1,1,0,3
261,High,0.215052,3,1,2,1,0,0,0,0,0,0,2
262,High,0.229897,2,1,1,1,1,1,0,0,0,0,2
263,High,0.243381,3,1,2,0,0,0,0,0,0,0,2
264,High,0.301031,2,1,2,1,0,1,0,0,0,0,2
265,High,0.176082,3,1,2,1,0,0,0,0,0,1,2
266,High,0.299794,3,1,1,1,0,0,0,0,2,1,1
267,High,0.302268,3,1,2,1,0,0,0,0,1,0,2
268,High,0.304124,4,1,2,1,0,0,0,1,0,0,2
269,High,0.239175,3,1,2,1,0,0,0,0,0,0,1
270,Low,0.276289,3,2,3,1,0,0,1,0,1,0,3
271,Low,0.115773,5,1,2,0,0,1,0,0,0,0,2
272,Low,0.250000,3,1,1,1,1,1,0,0,2,0,2
273,Low,0.214433,4,1,2,1,0,0,0,0,2,0,3
274,Low,0.396907,4,1,2,1,0,0,0,0,0,0,2
275,Low,0.247340,2,1,1,1,0,1,0,0,0,0,3
276,Low,0.270103,2,1,1,1,0,0,0,0,1,0,2
277,Low,0.638763,2,1,1,1,0,0,0,0,1,1,2
278,Low,0.208247,3,1,2,1,0,1,0,0,2,1,2
279,Low,0.391340,2,1,1,1,0,0,0,0,0,0,3
280,Low,0.391340,2,1,2,1,0,0,0,0,0,0,1
281,Low,0.276289,2,1,1,1,0,0,0,1,2,0,3
282,Low,0.132474,3,1,2,0,1,1,0,1,0,0,1
283,Low,0.267629,4,1,2,1,0,0,0,0,0,0,3
284,Low,0.478557,2,1,1,1,0,0,0,0,1,0,3
285,Low,0.409278,3,1,2,1,1,0,0,0,0,0,2
286,Low,0.170330,3,1,1,1,0,1,0,0,0,1,3
287,Low,0.338144,3,1,2,1,0,0,0,1,0,0,1
288,Low,0.309691,3,1,2,1,0,1,0,1,0,0,1
289,Low,0.359794,2,1,1,1,1,1,0,0,2,0,2
290,Low,0.159381,4,3,2,0,0,0,0,0,0,0,2
291,Low,0.180598,3,1,2,1,0,1,0,1,0,0,1
292,Low,0.167856,4,2,2,0,0,0,0,0,0,0,2
293,Low,0.270722,2,1,1,0,0,0,0,0,1,0,1
294,Low,0.245361,4,2,2,0,0,0,0,0,0,0,2
295,Low,0.141753,3,1,2,0,0,0,0,0,0,0,2
296,Low,0.282474,3,2,2,1,0,0,0,1,1,0,2
297,Low,0.223093,3,2,2,1,0,1,0,0,0,0,1
298,Low,0.356701,3,1,1,1,0,0,1,0,2,0,2
299,Low,0.430928,3,1,1,1,0,0,0,0,3,0,3
300,Low,0.250247,3,1,3,1,0,0,0,0,0,0,2
301,Low,0.215670,3,1,2,1,0,0,0,0,0,1,2
302,Low,0.130619,3,1,3,1,0,0,0,0,1,1,1
303,Low,0.276289,3,1,1,1,0,1,0,0,0,0,3
304,Low,0.508247,3,1,1,1,0,1,0,0,3,0,2
305,Low,0.211340,3,1,2,1,0,0,0,0,1,0,2
306,Low,0.297320,3,1,2,1,0,0,0,0,1,0,2
307,Low,0.250309,3,1,2,1,0,0,0,0,2,0,2
308,Low,0.248206,3,1,2,1,0,1,0,0,1,0,2
309,Low,0.284454,4,1,2,1,0,0,0,1,0,0,2
310,Low,0.368144,3,1,1,1,0,1,0,0,0,0,2
311,Low,0.372784,2,1,1,1,0,1,0,0,1,0,2
312,Low,0.220619,3,1,1,1,0,1,0,1,0,1,3
313,Low,0.225567,3,2,2,1,0,0,0,0,0,0,2
314,Low,0.247835,2,1,2,1,0,0,0,0,1,0,2
315,Low,0.344330,2,1,1,1,0,0,0,1,0,0,2
316,Low,0.362887,4,2,2,0,0,1,0,0,1,0,1
317,Low,0.306722,3,2,2,1,0,0,0,0,2,0,1
318,Low,0.266392,3,1,1,1,0,0,0,0,0,0,2
319,Low,0.183505,4,1,3,1,0,1,0,1,2,0,2
320,Low,0.265155,3,1,2,1,0,0,0,0,2,1,3
321,Low,0.222474,3,2,2,1,0,0,1,0,2,0,2
322,Low,0.211959,3,2,1,1,0,1,0,1,1,0,3
323,Low,0.331959,3,1,1,1,0,0,0,0,3,0,2
324,Low,0.276289,3,1,2,0,0,1,0,1,0,0,2
325,Low,0.211959,4,1,2,1,0,0,0,1,0,0,2
326,Low,0.251546,4,1,1,0,0,1,0,0,0,0,1
327,Low,0.398763,3,1,2,0,0,0,0,1,1,0,2
328,Low,0.276289,3,2,2,0,0,1,0,1,0,0,2
329,Low,0.242887,3,1,2,1,0,0,0,0,0,0,3
330,Low,0.248454,2,1,2,1,1,1,0,0,0,1,1
331,Low,0.447010,3,2,1,1,1,1,0,0,3,0,3
332,Low,0.338144,4,1,2,1,1,1,0,0,0,0,2
333,Low,0.183505,3,1,2,1,0,0,0,0,0,0,2
334,Low,0.201443,2,1,1,1,0,0,1,0,1,0,3
335,Low,0.233979,2,1,1,1,0,1,0,1,2,0,3
336,Low,0.497732,3,1,1,1,0,0,0,1,2,0,2
337,Low,0.130619,4,2,1,1,0,1,0,0,0,1,1
338,Low,0.231753,2,1,2,1,1,1,0,0,0,0,2
339,Low,0.194639,4,2,2,1,0,0,0,0,0,0,3
340,Low,0.325773,5,2,2,1,0,0,0,0,0,0,2
341,Low,0.194639,2,2,1,1,0,1,0,0,2,0,2
342,Low,0.440330,3,1,2,1,0,0,0,1,0,0,3
343,Low,0.250309,2,1,1,1,0,0,0,0,0,0,2
344,Low,0.236082,2,1,1,1,0,0,0,0,0,0,2
345,Low,0.122577,3,1,2,1,0,1,0,0,0,1,2
346,Low,0.132536,2,1,2,1,1,0,0,0,0,1,2
347,Low,0.205155,3,1,2,1,0,0,0,0,0,0,1
348,Low,0.192784,2,2,1,0,0,1,0,0,0,0,2
349,Low,0.296082,3,1,2,1,0,0,0,0,0,0,2
350,Low,0.209485,2,1,2,1,0,0,1,0,1,0,2
351,Low,0.220619,2,1,1,1,0,0,0,0,0,0,2
352,Low,0.358557,2,1,1,1,0,0,0,0,2,0,1
353,Low,0.174598,3,1,3,1,0,0,0,0,0,1,3
354,Low,0.517526,2,1,1,1,0,0,0,0,1,0,3
355,Low,0.508247,3,1,1,1,0,0,0,0,2,0,3
356,Low,0.153814,5,2,1,0,0,1,0,1,1,0,3
357,Low,0.426598,4,1,2,0,0,0,0,0,1,0,3
358,Low,0.213196,2,1,1,1,0,0,0,0,0,1,2
359,Low,0.220619,3,1,1,1,0,0,0,0,1,0,1
360,Low,0.247835,2,1,1,1,0,0,0,0,0,0,2
361,Low,0.370309,3,1,1,1,0,0,0,0,0,0,2
362,Low,0.248454,2,1,1,1,0,0,0,0,0,0,3
363,Low,0.219629,2,1,1,1,0,0,1,0,0,0,2
364,Low,0.190928,3,1,2,0,0,1,1,0,0,0,2
365,Low,0.335052,2,1,1,1,0,0,0,0,0,0,3
366,Low,0.222474,2,1,1,1,0,1,0,0,0,0,3
367,Low,0.222474,2,1,1,1,0,0,0,1,0,0,1
368,Low,0.346804,2,1,1,0,0,0,0,0,0,0,2
369,Low,0.220619,2,1,1,1,0,0,0,0,0,0,3
370,Low,0.262680,2,1,1,1,0,0,0,1,2,0,2
371,Low,0.218763,3,1,2,1,0,1,0,0,0,0,2
372,Low,0.194639,3,1,2,0,0,1,0,0,0,0,2
373,Low,0.183505,2,1,2,1,0,0,0,1,0,0,3
374,Low,0.215670,2,2,1,1,0,1,0,0,0,0,2
375,Low,0.366598,3,1,2,1,1,1,0,0,0,0,1
376,Low,0.253402,3,2,2,1,0,0,0,0,2,0,2
377,Low,0.174227,3,2,2,0,0,1,0,0,0,1,1
378,Low,0.138660,3,1,3,1,0,0,1,1,0,1,2
379,Low,0.215670,3,1,1,1,0,0,0,0,2,1,1
380,Low,0.276289,2,1,1,1,0,0,0,0,0,0,2
381,Low,0.245361,2,1,1,1,0,0,0,0,0,1,2
382,Low,0.192784,3,1,2,1,0,1,0,0,0,0,3
383,Low,0.276289,4,2,2,1,0,1,0,0,2,0,3
384,Low,0.276289,2,1,1,0,0,0,0,0,0,0,3
385,Low,0.223093,2,1,1,1,0,0,0,0,0,0,1
386,Low,0.236082,3,1,1,1,0,0,0,0,2,0,1
387,Low,0.260206,3,1,2,1,0,0,0,1,0,0,2
388,Low,0.223711,3,1,2,1,0,0,0,0,0,0,1
389,Low,0.282474,4,1,2,1,0,0,0,0,0,0,2
390,Low,0.130000,3,2,2,0,0,0,0,0,0,0,1
391,Low,0.185732,3,1,2,1,0,1,0,0,0,0,2
392,Low,0.244742,3,1,2,1,0,0,0,0,0,0,2
393,Low,0.457155,3,1,1,0,0,0,0,0,0,0,1
394,Low,0.213196,3,1,1,0,0,0,0,1,0,0,1
395,Low,0.220619,6,1,2,1,0,0,0,0,1,0,1
396,Low,0.223093,2,1,1,1,0,0,0,0,1,0,2
397,Low,0.362887,2,1,1,1,0,0,0,0,1,0,3
398,Low,0.190928,3,1,2,1,0,0,0,0,1,0,1
399,Low,0.452577,2,1,1,1,0,0,0,0,1,0,2
400,Low,0.215175,2,1,1,1,0,0,0,0,1,1,1
401,Low,0.585567,3,1,2,1,0,0,0,0,3,1,1
402,Low,0.361649,2,1,1,1,0,0,0,0,0,0,1
403,Low,0.798598,3,1,1,1,0,0,0,0,0,0,1
404,Low,0.301031,3,1,2,0,0,0,0,0,0,0,1
405,Low,0.187216,3,1,1,1,0,0,0,0,0,0,1
406,Low,0.327010,2,1,1,1,0,0,0,0,1,1,1
407,Low,0.130619,3,1,3,1,0,0,0,0,0,1,3
408,Low,0.245361,2,1,1,1,0,0,0,0,0,0,1
409,Low,0.194948,2,1,1,1,0,0,0,0,2,0,1
410,Low,0.236082,3,1,1,1,0,0,0,0,0,0,1
411,Low,0.130619,3,1,3,1,0,0,0,0,0,1,3
412,Low,0.159381,3,1,2,1,0,1,0,0,0,1,1
413,Low,0.118557,3,2,2,1,0,1,0,0,0,1,1
414,Low,0.247835,2,1,1,1,0,0,0,0,0,0,1
415,Low,0.293918,3,1,2,1,1,1,0,1,1,0,3
416,Low,0.211340,3,1,1,1,0,1,0,0,2,0,1
417,Low,0.223093,2,1,1,1,0,0,0,0,0,0,3
418,Low,0.214433,4,1,2,1,0,0,0,1,2,0,1
419,Low,0.304742,4,1,3,0,0,0,0,0,0,0,2
420,Low,0.252784,2,1,2,1,0,0,0,0,0,0,1
421,Low,0.291753,2,1,1,1,0,0,0,0,0,0,1
422,Low,0.228041,2,1,1,0,0,0,0,1,0,0,1
423,Low,0.229897,3,1,1,1,0,0,0,0,0,0,1
424,Low,0.189691,3,1,2,0,0,1,0,0,0,0,2
425,Low,0.194948,2,1,1,1,0,1,0,0,2,0,3
426,Low,0.164948,3,1,1,0,0,0,0,0,0,0,3
427,Low,0.130619,3,1,2,1,0,1,0,0,0,1,3
428,Low,0.247835,2,1,1,1,0,0,0,0,1,0,1
429,Low,0.293299,4,1,2,1,0,0,0,0,0,0,1
430,Low,0.152577,2,1,1,0,0,0,0,1,0,0,1
431,Low,0.194639,4,1,2,1,0,1,0,1,0,0,1
432,Low,0.372784,3,1,1,1,1,1,0,0,0,0,3
433,Low,0.213196,4,1,2,0,0,0,0,0,1,0,2
434,Low,0.232495,4,1,2,1,0,0,0,0,0,0,2
435,Low,0.247835,2,1,1,1,0,0,0,0,0,0,1
436,Low,0.130619,3,1,2,1,0,1,0,0,0,1,3
437,Low,0.361649,3,1,1,1,0,0,0,0,1,0,1
438,Low,0.276289,2,1,1,0,0,0,0,0,0,0,2
439,Low,0.241031,2,1,1,0,0,0,0,0,0,0,1
440,Low,0.223093,4,1,2,1,0,1,0,0,0,0,1
441,Low,0.268247,3,1,2,1,0,0,0,0,0,0,1
442,Low,0.163959,2,1,1,1,0,0,0,1,1,0,1
443,Low,0.265155,3,1,1,0,0,0,0,0,1,0,1
444,Low,0.190928,3,1,2,0,0,0,0,0,0,0,3
445,Low,0.211340,1,1,1,1,0,0,0,0,0,0,3
446,Low,0.244495,2,2,1,0,1,1,0,0,1,0,1
447,Low,0.214433,2,1,1,0,0,1,0,0,0,0,2
448,Low,0.251237,2,1,1,1,0,0,0,0,2,0,2
449,Low,0.100000,3,1,2,0,0,1,0,0,0,0,1
450,Low,0.211340,3,1,2,1,0,1,0,0,0,0,2
451,Low,0.415464,2,1,1,1,0,0,0,0,0,0,2
452,Low,0.554639,3,1,2,1,0,0,0,0,2,0,2
453,Low,0.187773,2,1,1,1,0,0,0,0,1,0,1
454,Low,0.276289,3,1,2,1,0,0,0,1,0,0,1
455,Low,0.337835,3,1,1,1,0,1,0,0,0,0,1
456,Low,0.146268,3,1,1,1,0,0,0,0,0,1,2
457,Low,0.183505,3,1,1,0,0,0,0,1,0,0,1
458,Low,0.236082,3,1,2,1,0,0,0,0,0,0,1
459,Low,0.214433,2,1,1,1,0,0,0,0,0,0,1
460,Low,0.498969,2,1,1,1,0,0,0,0,1,0,1
461,Low,0.304742,2,1,1,1,0,1,0,1,0,0,1
462,Low,0.131546,3,1,2,0,0,1,0,0,0,0,2
463,Low,0.189072,2,1,1,1,1,1,0,0,0,0,1
464,Low,0.276289,2,1,2,1,0,0,1,0,1,0,2
465,Low,0.232990,2,1,1,1,0,0,0,0,0,0,1
466,Low,0.189072,3,1,2,0,0,0,0,0,0,0,2
467,Low,0.198351,3,1,2,1,0,0,0,0,2,0,2
468,Low,0.173299,2,1,1,1,0,0,0,0,0,0,2
469,Low,0.282474,2,1,1,1,0,0,0,0,0,0,3
470,Low,0.311918,3,1,1,0,0,0,0,0,0,0,1
471,Low,0.229897,3,1,2,1,0,0,0,0,0,0,1
472,Low,0.222474,4,1,2,1,0,0,0,0,3,0,2
473,Low,0.495876,2,1,1,1,0,0,0,0,0,0,1
474,Low,0.267134,4,1,2,0,0,0,0,0,1,0,1
475,Low,0.183505,2,1,2,1,0,0,0,0,0,0,2
476,Low,0.359794,3,1,2,1,0,1,0,0,1,0,1
477,Low,0.304742,2,1,1,1,0,0,0,0,0,0,1
478,Low,0.220619,3,1,2,0,0,0,0,0,1,0,1
479,Low,0.224330,4,1,2,0,0,0,0,0,0,0,1
480,Low,0.213196,3,1,2,0,0,0,0,0,1,0,2
481,Low,0.164948,2,1,1,0,0,0,0,0,0,0,3
482,Low,0.192784,3,1,2,0,0,0,0,0,0,0,1
483,Low,0.407113,3,1,2,1,0,0,0,0,0,0,2
484,Low,0.185979,2,1,1,0,0,0,0,0,0,0,1
485,Low,0.222474,2,1,1,1,0,0,0,0,0,0,1
486,Low,0.369072,2,1,1,1,0,0,0,0,0,0,2
487,Low,0.331959,4,1,2,1,0,0,0,0,0,0,1
488,Low,0.319588,4,1,3,1,0,0,0,0,0,0,1
489,Low,0.202062,3,1,2,0,0,0,0,0,1,0,2
490,Low,0.267010,3,1,2,0,0,0,1,0,1,0,1
491,Low,0.161237,2,1,1,0,0,0,0,0,1,0,3
492,Low,0.161856,3,1,2,1,0,1,0,0,1,0,1
493,Low,0.242887,3,1,1,1,0,0,0,0,0,0,3
494,Low,0.418557,2,1,1,1,0,0,0,0,0,0,1
495,Low,0.245361,3,1,2,1,0,0,0,0,1,0,1
496,Low,0.245361,2,1,1,1,0,0,0,0,0,0,1
497,Low,0.241278,2,1,1,1,0,0,0,0,0,0,1
498,Low,0.121649,2,1,2,1,0,0,0,0,0,0,2
499,Low,0.222474,3,3,2,0,1,0,0,0,0,0,1
500,Low,0.171134,3,1,1,1,0,0,0,0,0,0,1
501,Low,0.148247,3,1,1,0,0,0,0,0,0,0,1
502,Low,0.213196,2,1,1,1,0,0,0,0,1,0,2
503,Low,0.245361,3,1,1,1,0,0,0,0,0,0,2
504,Low,0.194948,2,1,1,1,0,0,0,1,0,0,1

The area attribute was rescaled using the Normalization technique to fall within a range of 0 to 1. This method standardizes feature values, ensuring that all values are on the same scale without distorting the differences between ranges. Normalization is essential in algorithms that are sensitive to the scale of data